<div class="hidden" id="exemplarInputFile">
    <input name="banners[]" type="file" style="display: none;">
</div>
<div class="hidden" id="exemplarBanner">
    <div class="banner"><div class="image"></div><div class="info"><div class="title"></div><div class="remove"><i class="icon icon-close"></i> <span><?=$LocaleStrings->page->form->Banner->remove;?></span></div></div></div>
</div>