$chartWidth:480px;
$chartHeight:360px;

$boxWidth:780px;
$basePadding:20px;
$image-icons-url:url(/img/icons.png);

.chartBox{
    margin: 0 auto;
    margin: 0 $basePadding;
    height: 100%;
    overflow: hidden;
    width: $boxWidth - 2*$basePadding;
    margin-bottom: 2*$basePadding;

    .chartArea{
      border: 1px solid #d8e2e5;
        //box-shadow: 1px 1px #d8e2e5 inset, -1px -1px #d8e2e5 inset;
        float: left;
        width: $chartWidth;
        height:$chartHeight;
        font-size: 26px;
        line-height: 360px;
        text-align: center;
    }
    .infoArea{
      border: 1px solid #d8e2e5;
      border-left: 0;
        //box-shadow: 0px 1px #d8e2e5 inset, -1px -1px #d8e2e5 inset;
        padding: $basePadding;
        position: relative;
        float: right;
        width: $boxWidth - 4*$basePadding - $chartWidth - 3;
        min-height: $chartHeight - 2*$basePadding;

        .quizzName{
            color: #434343;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .date{
            margin-bottom: 5px;
            font-size: 15px;
            color: #adadad;
            text-transform: uppercase;
        }

        .report-count{
            color: #434343;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .top-info {
          display: none;
        }

        .btnGradient {
          border: 1px solid #c9d3d6;
          border-radius: 4px;
          color: #757471;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          padding: 6px 15px;
          text-shadow: 0 1px 0 #fff;

          &.hover {
            background: #fff;
          }
        }

        .top-questions .question {
          background: #f5f5f5;
          border-bottom: 1px solid #ebebeb;
          color: #afafaf;
          font-size: 14px;
          padding: 6px 10px 5px;

          &:last-child {
            border-bottom: 0;
          }
          .count {
            color: #c3c3c3;
            float: right;
            font-weight: bold;
          }
        }

        .actions{
            position:absolute;
            bottom:10px;
            width:$boxWidth - 4*$basePadding - $chartWidth;
            .export{
                /*display: none;*/
                float: left;
            }

            .remove{
                opacity: 0.5;
                float: right;
                width: 14px;
                height: 16px;
                margin-top: 22px;
                background-image: $image-icons-url;
                background-position: -129px -46px;
                background-repeat: no-repeat;
                cursor:pointer;
                &.hover{
                    opacity: 1;
                }
            }
        }
    }
    .locationsList{
        float: left;
        padding: $basePadding;

        .icon-location{
          margin-right: -5px;
        }

        .list{
            padding-left: 7px;
            font-weight: normal;
            color: #adadad;
            font-size: 16px;
            line-height: 30px;
        }
    }
}