@mixin line-gradient ( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : right ) {
  background-image: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}

.lang-tabs {
  @include line-gradient( #fff , #f3f6f7 , 100% , 0 , bottom );
  border-bottom: 1px solid #e8eeef;
  margin-bottom: 40px;
  position: relative;
  text-align: center;

  .col {
    display: inline-block;
    margin: 0 5px;
  }
  .tab {
    background: #fff;
    border: 1px solid #d8e2e5;
    bottom: -20px;
    color: #8d9699;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    margin-left: -1px;
    padding: 6px 12px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;

    .flag {
      margin-right: 10px;
      margin-top: -2px;
    }
    .remove {
      display: none;
    }

    &.attention {
      background: #f5f2eb;
    }
    &.active {
      background: #b6bfc2;
      border-color: #b6bfc2;
      color: #fff;
      text-shadow: 0 1px 0 #929b9d;
      z-index: 2;

      .flag {
        display: none;
      }
      .remove {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 0 #929b9d;
        display: inline-block;
        height: 17px;
        margin: -4px 12px 0 0;
        vertical-align: middle;
        width: 17px;

        .icon {
          margin: -7px 3px 3px;
        }
      }
    }

    &.initialized {
      &.active {
        cursor: default
      }
      .flag {
        display: inline-block;
      }
      .remove {
        display: none;
      }
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      margin-left: 0;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:only-child {
      border-radius: 4px;
    }
  }

  &:after {
    @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #fff );
    content: '';
    height: 100%;
    padding-top: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }
  &:before {
    @include line-gradient( #fff , rgba( 255 , 255 , 255 , 0 ) );
    content: '';
    height: 100%;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 50%;
  }

  [data-tab=add] .icon {
    display: inline-block;
    margin: -2px 0 0;
  }
}