.rows {
  .row {
    background: #fff;
    border: 1px solid #d8e2e5;
    color: #adadad;
    cursor: pointer;
    height: 50px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;

    &:first-of-type {
      margin-top: 0;
    }

    .row-title {
      font-size: 18px;
      margin-left: 20px;
      margin-top: 11px;
    }

    &.active {
      background: #f3f6f7;
      color: #575757;
    }
    .icon-checkbox {
      display: none;
      position: absolute;
      right: 12px;
      top: 15px;
    }
    &.hover .icon-checkbox , &.active .icon-checkbox {
      display: block;
    }
  }
}