.itemsForm {
    .generate-new-password {
        cursor: pointer;
        opacity: .5;

        &.hover{
            opacity: 1;
        }
    }
    .item-value{
        .creditsBlock{
            height:41px;
            overflow:hidden;
            margin-bottom:10px;
            border-radius: 4px;
            border: 1px solid #d8e2e5;

            .text-field{
                width: 220px;
                float: left;
                border: 0px solid transparent;
                border-radius: 0px;
            }
        }
    }

    .btnCredits{
        height: 41px;
        width: 41px;
        line-height: 40px;
        position: relative;
        z-index: 1;
        float: right;
        text-align: center;
        box-shadow: -1px 0px 0px #d8e2e5;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;

        &:last-child{
            margin-right: 1px;
        }

        &:active{
            background: transparent;
        }
    }

    .status-box{
        background: #f5f2eb;
        width: 238px;
        height: 59px;
        border-radius: 4px;
        padding-left: 100px;
        padding-top: 21px;;
        float: left;

        .text {
            right: 33px;
        }
    }

}

.confirm-form {
  background: #f5f2eb;
  padding-bottom: 10px;
  padding-top: 24px;

  .item-title {
    margin-top: -29px;
  }
  .text-field {
    background: #fff;
  }
}

.email {
  color: #adadad;
  font-size: 18px;
}

#confirm {
  padding: 6px;
}


.itemsForm {
  position: relative;

  .full-overlap {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &.active {
      display: block;
      opacity: .8;
    }
  }
}