@import "users_list";

.rows .row {
  .row-count {
    float: right;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 11px;
  }
  .row-status {
    float: left;
    font-size: 0;
    margin-left: 10px;
    margin-top: 18px;
    width: 16px;
    height: 16px;
    &.trusted{
      background: url("/img/icons.png") no-repeat -106px -197px;
      opacity: 0.5;
      //cursor: default;
      &:hover{
        opacity: 1;
      }
    }
  }
  .row-title{
    margin-left: 38px;
  }
}

.content-list {
  .row[data-count="0"] {
    background: #f5f2eb !important;

    .overlap {
      @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #f5f2eb );
    }
  }
  .overlap {
    margin-right: 80px;
  }
}