.itemsForm{
  .column1.item-title{
    text-align: center;
  }
  .column3{
    margin-left: 30px;
    &.item-help{
      img{
        margin-top: 6px;
      }
      .addNew{
        margin-top: 23px;
      }
    }
  }

}
