/* location btns
========================*/
.cancelBtn,
.saveBtn{
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 20px 0px 0px;
  width: 80px;
  height: 30px;
  line-height: 29px;
}
.saveBtn {
  margin-right: 10px;
}

/*------------ LocationInfo --------------*/
.itemsForm .item-value .username .text-field{
  width: 318px;
  margin-right: 10px;
  display: inline-block;
}

.itemsForm .item-value .username .company{
  display: inline-block;
  height: 30px;
  overflow: hidden;
  line-height: 42px;
  max-width: 135px;
  overflow: hidden;
}

.itemsForm .item-value .password .text-field{
  width: 258px;
  margin-right: 10px;
  display: inline-block;
}

.btnGradient {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: auto !important;
  line-height: 17px !important;
  padding: 15px 13px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #d8e2e5;
  width: auto !important;
}

.btnGradient.hover {
  background:#ffffff;
}

.itemsForm .item-value .checkUsernameBtn.active{
  background: #dde7eb;
}

.itemsForm .item-value .password .ico-lock{
  width: 19px;
  height: 17px;
  float: right;
  padding: 11px 13px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #d8e2e5;
}


.itemsForm .item-value .password .ico-lock div{
  width: 19px;
  height: 17px;
  overflow: hidden;
  background-image: url("/img/icons.png");
  background-repeat: no-repeat;
  background-position: -125px 2px;
}

.itemsForm .item-value .password .ico-lock.hover div{
  background-position: -125px -20px;
}

.itemsForm .item-value .password .ico-lock.active{
  background: #dde7eb;
}

.itemsForm .item-value .password .ico-lock.active div{
  background-position: -125px -20px;
}

/*------------ Attraction --------------*/
/*btn*/
.file-selector{
  width: 262px;
  position: relative;
  float: right;
}

.file-selector input{
  left: 13px;
  top: 13px;
  opacity: 0;
  z-index: 1;
  position: absolute;
}
.file-selector div{
  width: 262px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/*preview*/
.file-preview{
  float: left;
  width: 66px;
  height: 50px;
  position: relative;
  margin-right: 10px;
  background: #f2f5f6;
  box-shadow: 0 0 1px #d8e2e5 inset;
}

.file-preview table{
  position: relative;
  z-index: 1;
  height: 50px;
  width: 66px;
}
.file-preview table td{
  line-height: 0;
  vertical-align: middle;
  text-align: center;
}

.file-preview img{
  max-width: 66px;
  max-height: 50px;
  opacity: 0;
}

.file-preview img.active{
  opacity: 1;
}

.file-preview div{
  top:12px;
  left:18px;
  width: 30px;
  height: 24px;
  position: absolute;
  z-index: 2;
  background: url("/img/icons.png") no-repeat 0 -27px;
}

/*langs-tabs
=======================*/

/*attraction-messages
=======================*/
.attraction-messages .msg-item{
  display: none;
}

.attraction-messages .msg-item.active{
  display: block;
}


//

.image-upload {
  input {
    display: none;
  }
}

@mixin line-gradient ( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : right ) {
  background-image: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}

.banner {
  margin-bottom: 16px;
  padding-top: 6px;

  &.new {
    background: #f5f2eb;
    margin: -4px -10px 12px;
    padding: 10px 10px 4px;

    .info .title:after {
      @include line-gradient( rgba( 245 , 242 , 235 , 0 ) , #f5f2eb );
    }
  }

  .image {
    background: #cecece;
    display: inline-block;
    height: 50px;
    width: 66px;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .info {
    display: inline-block;
    font-weight: bold;
    margin-left: 16px;
    vertical-align: top;
    width: 258px;

    .title {
      font-size: 18px;
      line-height: 20px;
      margin-top: 4px;
      overflow: hidden;
      position: relative;
      white-space: nowrap;

      &:after {
        @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #fff );
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
      }
    }
    .remove {
      cursor: pointer;

      span {
        font-size: 15px;
        margin-left: 2px;
        text-decoration: underline;
        vertical-align: middle;
      }
    }
  }
}