#middleContent {
    padding-top: 155px;
}

.row-items-list.title .row-item{
    .row-item-cell{
        float: right;
        a{
            color: #98ACB3;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.row-items-list.data.localesList{
    .row-item{
        .row-item-cell{
            width: 740px;
        }
    }
}