#middleContent{
  padding-top: 160px;
}
.secondPart{
  border-bottom: 1px dotted #8D9699;
}
h2{
  padding: 20px;
}
nav.languages{
    display: block;
    float: right;
    width: 100%;
    text-align: center;
    height: 50px;
    overflow: hidden;
    .locale{
        height: 50px;
        display: inline-block;
        padding-right: 0px;
        line-height: 50px;
        span{
            color: #3E4344;
            border: 0px solid transparent;
            border-bottom: 1px solid transparent;
            background: transparent;
            border-radius: 0px;
            display: inline;
            line-height: 50px;
            margin: 5px 10px;
            cursor: pointer;
            &:hover{
                border-bottom: 1px dashed #FFFFFF;
            }
        }
        &.active{
          span{
            margin: 0px;
            padding: 5px 10px;
            background:none repeat scroll 0 0 #3E4344;
            color: #ffffff;
            cursor: default;
            border-radius: 8px;
            &:hover{
                border-bottom: 1px dashed transparent;
            }
          }
        }
    }
}

#editWrapper{
    margin: 0 auto;
    .locale-tab{
        display: none;
        &.active{
            display: block;
        }
        textarea{
            height: 85px;
            width: 500px;
        }
      .oneItem{
        margin-top: 20px;
        max-width: 500px;
      }
    }
}
.row-items-list.data.localesList{
    .row-item{
        .row-item-cell{
            width: 740px;
        }
    }
}

.nicEdit-pane{
  font{
    color: #8D9699;
  }
}
.nicEdit-panelContain{
  .nicEdit-panel{
    .nicEdit-selectContain{
      .nicEdit-selectTxt{
        font-size: 11px;
      }
    }
  }
}
