$fullWidth : 780px;
$groupsPrizeWidth : 240px;
$padding : 20px;
$prizesListWidth : $fullWidth - $groupsPrizeWidth - $padding * 2 - 1;

$rowHeight : 51px;

$timeDuration : .8s;

@mixin line-gradient ( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : right ) {
  background-image: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}


.rows .row {
  cursor: pointer;
  font-size: 18px;
  height: $rowHeight;
  position: relative;
}

.tabs {
  .tab-half {
    width: ( $prizesListWidth - 3 ) / 2 ;
  }
  .tab {
    background: #e6f1f5;
    background: -moz-linear-gradient(top, #fff, #e6f1f5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e6f1f5));
    background: -webkit-linear-gradient(top, #fff, #e6f1f5);
    background: -o-linear-gradient(top, #fff, #e6f1f5);
    background: -ms-linear-gradient(top, #fff, #e6f1f5);
    background: linear-gradient(top, #fff, #e6f1f5);
    border: 1px solid #c9d3d6;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-right: -1px;
    margin-top: 8px;
    padding: 10px 0;
    text-align: center;

    &.hover {
      background: #fff;
    }
    &.active {
      background: #fff;
      cursor: auto;
      margin-top: 0;
      padding: 14px 0;
    }
  }
}
.tab-container {
  display: none;

  &.active {
    display: block;
  }
}

.cols {
  border: 1px solid transparent;//#d8e2e5;
  border-right: 0;
  border-top: 0;
  margin: 0 $padding;
  position: relative;

  .shadow-block {
    @include line-gradient( rgba( 216 , 226 , 229 , 0 ) , #d8e2e5 , 50% );
    height: 100%;
    left: $groupsPrizeWidth - 10px;
    position: absolute;
    width: 10px;
    z-index: 3;
  }

  .col {
    float: left;
    //margin-bottom: -1px;
  }
  .row-title {
    line-height: 51px;
    margin-left: 18px;
    position: relative;
  }
  .overlap {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 78px;
  }
  .groups-prize {
    width: $groupsPrizeWidth;

    .rows {
      //border-left: 1px solid #d8e2e5;
      border-right: 1px solid #d8e2e5;

      .row.group-item {
        background: #f3f6f7;
        border: 1px solid #d8e2e5;
        border-top: 0;
        color: #adadad;
        font-size: 18px;
        font-weight: 600;
        //margin-bottom: -1px;
        overflow: hidden;
        //padding: 10px 18px;
        position: relative;

        .overlap {
          @include line-gradient( rgba( 243 , 246 , 247 , 0 ) , #f3f6f7 );
        }
        &.hover {
          background: #fff;
          z-index: 1;

          .overlap {
            @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #fff );
          }
        }
        &.active {
          background: #e2e9eb;
          color: #575757;
          z-index: 2;

          .overlap {
            @include line-gradient( rgba( 226 , 233 , 235 , 0 ) , #e2e9eb );
          }
        }
      }
    }
  }
  .prizes-list {
    width: $prizesListWidth;

    .rows {
      .row.prize-item {
        border: 1px solid #d8e2e5;
        border-top: 0;
        cursor: default;
        overflow: hidden;

        .controls {
          position: absolute;
          right: 0;
          top: 6px;
          * {
            float: left;
          }
        }
        .cancel {
          background: transparent;
          box-shadow: 1px 1px 0px #bed3da inset, -1px -1px 0px #bed3da inset;

          &.hover {
            background: #fff;
          }
        }
        .prize-count {
          float: right;
          font-weight: bold;
        }
        input.prize-count {
          background: #fff;
          float: none;
          margin-right: 10px;
          padding-bottom: 7px;
          padding-top: 7px;
          text-align: right;
          width: 40px;
        }

        .view {
          background: #fff;
          height: 100%;

          .overlap {
            @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #fff );
          }
          .hover-icon {
            display: none;
          }
          .prize-count {
            margin-right: 20px;
            margin-top: 11px;
          }
          .row-title {
            color: #adadad;
            width: 80%;
          }
        }
        .edit {
          background: #e9f3f6;
          height: 100%;
          display: none;

          .overlap {
            @include line-gradient( rgba( 233 , 243 , 246 , 0 ) , #e9f3f6 );
          }
          .row-title {
            color: #575757;
            width: 60%;
          }
          .btn {
            height: auto;
            margin-right: 4px;
          }
          .btn .icon {
            margin: 10px 13px;
          }
        }
        &.editable .view {
          display: none;
        }
        &.editable .edit {
          display: block;
        }
      }
      .row.quiz-item {
        cursor: auto;

        .row-title {
          width: auto !important;
        }
      }
      &.write .row .view {
        cursor: pointer;

        &.hover {
          .hover-icon {
            display: block;
            float: right;
            margin-right: 20px;
            margin-top: 17px;
          }
          .prize-count {
            display: none;
          }
        }
      }
    }
  }
}

#add-prizes , #add-quizzes {
  background: #e6f1f5;
  background: -moz-linear-gradient(top, #fff, #e6f1f5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e6f1f5));
  background: -webkit-linear-gradient(top, #fff, #e6f1f5);
  background: -o-linear-gradient(top, #fff, #e6f1f5);
  background: -ms-linear-gradient(top, #fff, #e6f1f5);
  background: linear-gradient(top, #fff, #e6f1f5);
  border: 1px solid #c9d3d6;
  color: #575757;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  //margin-top: -1px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;

  &.hover {
    background: #fff;
  }
  &.disabled {
    background: #fff;
    color: #adadad;
  }
  .icon {
    margin-right: 10px;
    margin-top: -5px;
    -webkit-animation-duration: $timeDuration;
    -moz-animation-duration: $timeDuration;
    -ms-animation-duration: $timeDuration;
    -o-animation-duration: $timeDuration;
    -animation-duration: $timeDuration;
    animation-duration: $timeDuration;
  }
}

.active-group {
  margin: $padding;
  width: 370px;

  .group-name {
    color: #575757;
    font-size: 28px;
    font-weight: bold;
  }
  .group-note {
    color: #adadad;
    font-size: 18px;
  }
}

.createBtn {
  margin-right: 10px;
  margin-top: 10px;
  width: 42px;
}
.btnEdit {
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -10px;
  padding: 8px 13px;

  &.hover {
    background: #fff;
  }
}
.big-size {
  font-size: 26px;
  font-weight: bold;
}
.over-right {
  float: right;
}

#prizes-list .prize-item[data-count="0"] .view {
  background: #f5f2eb !important;

  .overlap {
    @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #f5f2eb );
  }
}

.clear-fix {
  clear: both;
}