.btnAddPrize {
  border-radius: 4px;
  font-weight: 700;
  padding: 10px;
}
.btnGradient {
  border: 1px solid #c9d3d6;
  cursor: pointer;
  font-size: 18px;
  text-align: center;

  &.hover {
    background: #fff;
  }
}

.saveBtn {
  margin-right: 10px !important;
}

#prizes {
  .item-row {
    .item-title {
      opacity: 0;
    }
    &:first-child .item-title {
      opacity: 1;
  }
  .text-field {
      border-radius: 0;
      font-weight: 600;
      margin-bottom: 0;
      position: relative;

      &:focus {
        z-index: 2;
      }
    }
  }
  input.text-field {
    padding: 14px 10px;
  }
  .btnSum {
    height: 51px;
    line-height: 50px;
    position: relative;
    width: 29px;
    z-index: 1;
  }
  .item-value div * {
    float: left;
    margin-left: -1px !important;
  }
  .prize-title {
    margin-left: 0 !important;
    width: 199px !important;
  }
  .prize-count {
    text-align: center;
    width: 38px !important;
  }
  .prize-note {
    font-weight: normal !important;
    height: 85px;
    margin-top: -1px;
    width: 318px;
  }
  .chances .btnGradient {
    height: 38px;
    line-height: 36px;
    margin-left: 0 !important;
    margin-top: -1px;
    width: 66px;

    &.hover {
      background: #fff;
    }
    &.active {
      background: #b6bfc2;
      border-color: #b6bfc2;
      color: #fff;
      text-shadow: 0 1px 0 #5d6466;
    }
    &:first-child {
      border-radius: 0 0 0 4px;
    }
    &:last-child {
      border-radius: 0 0 4px 0;
    }
  }
  .prize-remove {
    cursor: pointer;
    display: inline-block;
    margin-top: 80px;

    .icon {
      margin-right: 3px;
      margin-top: -7px;
      opacity: .6;
    }
    span {
      color: #8d9699;
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
    }
    &.hover span {
      color: #73acbf;
    }
  }
}
#quizzes {
  .quiz {
    border-top: 1px solid #d8e2e5;
    padding: 7px 12px;

    &:first-of-type {
      border-top: 0;
    }
    span {
      color: #8d9699;
      font-size: 18px;
    }
    .icon-close {
      cursor: pointer;
      margin-top: 9px;
      opacity: .6;

      &.hover {
        opacity: 1;
      }
    }
  }
}
#add-quiz-option {
  display: none;
}
.itemsForm .item-value select.text-field {
  color: #c0c9cc;
  width: 100%;

  option {
    color: #8d9699;
  }
}

.over-right {
  float: right;
}

.clear-fix {
  clear: both;
}

#add-lang .locale-item.selected {
  display: none;
}

@import "lang_tabs";
@import "rows";
.rows .flag-big {
  margin-right: 18px;
}

.error {
  z-index: 2;
}