body{
    background: #ffffff;
    color: #000000;
}

.content{
    width:100%;
    height: auto;

    .quiz-name{
        padding: 20px;
        span{
            font-weight: bold;
        }
    }

    .report-table{
        .report-row{
            width: 100%;
            min-height: 30px;
            overflow:hidden;
            font-size: 0;
            box-shadow: 0px 1px 0px #000000 inset, 0px -1px 0px #000000 inset;
        }

        .report-cell{
            font-size: 16px;
            min-height: 20px;
            line-height: 20px;
            width: 350px;
            max-width: 350px;
            text-align: left;
            box-shadow: -1px 0px 0px #000000 inset;
            &:first-child{
                box-shadow: 1px 0px 0px #000000 inset, -1px 0px 0px #000000 inset;
            }
            div{
                width:auto;
                padding: 10px;
                overflow: hidden;
                height: auto;
            }
            .questionDetails{
                padding: 10px;
                td{
                    &.q-title{
                        color: #757471;
                    }
                    vertical-align: top;
                    padding-bottom: 5px;
                    border-bottom: 1px dotted #c5cdd0;
                    &.msg-title{
                        border-bottom: 0px solid transparent !important;
                    }
                    &.msg-body{
                        border-bottom: 0px solid transparent !important;
                        span{
                            margin-left: 15px;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        //Report Title
        &.report-title{
            font-weight: bold;
        }

        //Report Content
        &.report-content{
            height: auto;
            min-height: 400px;
        }
    }
}