$borderColor :#F0F4F5;
$boxWidth:780px;
$basePadding:20px;
$chartAreaHeight:300px;

$chartBoxWidth : $boxWidth - 2*$basePadding;
@import "chart-tools";
@import "charts";

#middleContent{
    padding-top: 110px;
}

.exportBtn{
    float: right;
    font-weight: bold;
    margin-top: $basePadding / 2;
    margin-right: $basePadding / 2;
}

.help{
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}
.chartControls{
    //height: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed $borderColor;
    color: #000;
    width: $boxWidth;
    i{
        font-style: normal;
    }
    //overflow:hidden;
    //.controll{
    //    float: left;
    //    margin-left: 10px;
    //    display: inline-block;
    //    .text-field{
    //        margin-bottom: 0px;
    //        font-size: 16px;
    //        height: 40px;
    //        max-width: 170px;
    //        &.date-field{
    //            height: 22px;
    //            max-width: 120px;
    //        }
    //    }
    //    &:first-child{
    //        margin-left: 0px;
    //    }
    //    &:last-child{
    //        margin-left: 5px;
    //    }
    //    .drawBtn{
    //        padding: 5px;
    //        margin-left: 10px;
    //        max-width: 60px;
    //        cursor: pointer;
    //        &.disable{
    //            color:#ABABA7;
    //            cursor: default;
    //            background: #E0DED8;
    //            text-shadow: 0 1px 0 white;
    //            box-shadow: 1px 1px 0 #D7D5CF inset, -1px -1px 0 #D7D5CF inset;
    //        }
    //    }
    //}
}




input {
  box-sizing          : border-box;
}
.over-left {
  float               : left;
}
.over-right {
  float               : right;
}
.clear-fix {
  clear               : both;
}




.chart-types {
  float               : right;
}
.chart-types .chart-type {
  padding             : 2px 10px;
}
.chart-types .chart-type.active {
  font-weight         : bold;
}

.create-chart-of-type {
  h3 {
    margin-bottom       : 10px;
  }
  .text-field {
    font-size           : 16px;
    width               : 100%;
  }
  .cols {
    .col {
      float               : left;
      width               : ($boxWidth - 3*$basePadding) / 3;
    }
  }
}

#result-loc-list .item {
    color: #adadad;
    text-decoration: line-through;

    &.active {
        color: #616161;
        opacity: 1;
        text-decoration: none;
    }
}

.report-count {
    a{
        color: #8D9699;
    }
  /*display: none!important;*/
}

.saveBtn.disabled {
  cursor: default;
}

.preloader {
  background: url( http://loadinggif.com/generated-image?imageId=24&bgColor=%23ffffff&fgColor=%23adadad&transparentBg=1&download=0&random=0.4343638182617724 ) no-repeat center;
  height: 100px;
}
.chart-tool-preloader {
  display: none;
}
.exe-preview {
  padding-bottom: 20px;
}

.charts-list {
  padding-top: 20px;
}

.ui-datepicker {
  z-index: 7 !important;
}

.tools-row-item-cell .icon {
  margin-top: 7px;
}

#quizzes-placeholder {
  .icon {
    margin: 40px 0 28px 105px;
  }
  .text {
    color: #adadad;
    font-size: 24px;
    line-height: 32px;
    width: 150px;
    float: right;
    text-align: center;
    margin-right: 45px;
  }
}


.chartBox .chart-question {
  padding-bottom: 20px;

  .grade {
    color: #adadad;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    width: 40px;

    i {
      background: url( /img/smiles.png );
      display: block;
      height: 30px;
    }
    &.grade-0 i {
      background-position: 0 0;
    }
    &.grade-1 i {
      background-position: -40px 0;
    }
    &.grade-2 i {
      background-position: -80px 0;
    }
    &.grade-3 i {
      background-position: -120px 0;
    }
    &.grade-4 i {
      background-position: -160px 0;
    }
  }
  .info {
    display: inline-block;
    width: 685px;
  }

  .title {
    font-size: 18px;
    color: #575757;
    margin-top: -5px;
    vertical-align: top;
  }
  .notes-count {
    float: right;

    i {
      background: url(/img/icons.png);
      background-position: -41px -205px;
      display: inline-block;
      height: 20px;
      margin-right: 5px;
      width: 20px;
    }
    span {
      vertical-align: top;
    }
  }

  .grade-plus {
    color: #7ab8cc;
  }
  .grade-minus {
    color: #CC7A7A;
  }
  .grade-neutral {
    color: #C4BEBC;
  }
}