#middleContent{
  padding-top: 324px;
}

#pageMenu .secondPart{
  color: #8d9699;
  display: block;
  font-size: 14px;
  height: auto;
}

.survey-details{
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 25px;
  /*color: #c0c9cc;*/
}

.survey-description{
  width: 320px;
  float: left;
  padding: 0 20px;
  margin-top: 6px;
  height: 110px;
  overflow: hidden;
}

.survey-details h4{
  color: #8d9699;
  font-size: 18px;
}

.survey-other-info{
  width: 160px;
  float: left;
  padding: 0 20px;
}

.survey-other-info .survey-default-locale{
  height: 50px;
}

/* questionsList
==================*/
.questionsList{
  margin: 0 auto;
  width: 740px;
  margin: 0 20px;
  overflow: hidden;
  font-size: 18px;
  color: #8d9699;

}

.questionsList h2{
  font-size: 28px;
}

.questionsList .row-item{
  text-align: left;
  line-height: 23px;
  margin-bottom: 12px;
}

.questionsList .row-item span{
  font-weight: bold;
  display: block;
  float: left;
  text-align: right;
  width:30px;
  margin-right:4px;
}

.questionsList .row-item strong{
  display: inline-block;
  margin-right:8px;
}

.question-lang-list{
  display: none;
  margin-top: 14px;
  list-style: decimal;
  padding-left: 40px;
}

.question-lang-list.active{
  display: block;
}

/* Survey status Btn
===================*/
.surveyStatusBtn{
  font-size: 18px;
  float: right;
  margin: 10px;
  font-weight: bold;
}

.ico-unpublish{
  background-position:-26px 4px;/*ico-ссылки*/
}

.ico-publish{
  background-position:-50px 4px;/*ico-треугольник*/
}

.surveyStatusBtn.publish{
  background: #73acbf;
  color: #456773;
  text-shadow: 0px 1px 0px #8db8c7;
}

.surveyStatusBtn.publish.hover{
  background: #7ab8cc;
  color: #ffffff;
  text-shadow: 0px 1px 0px #5d6466;
}

.surveyStatusBtn.publish.hover .ico-publish{
  background-position:-68px 4px;/*ico-крестик*/
}


.survey-status-label {
  text-align: right;
  color: #456773;
  text-shadow: 0 1px 0 #8db8c7;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 12px;
}

.sub-questions {
  font-size: 14px;
  opacity: .75;
}


@import "lang_tabs";
.lang-tabs {
  margin-bottom: 20px;
}