#middleContent{
  padding-top: 110px;
}

#pageMenu .secondPart{
  color: #8d9699;
  display: block;
  font-size: 16px;
}

/* survey-details
======================*/
.survey-details{
  height: 100%;
  overflow: hidden;
  padding-top: 30px;
  color: #c0c9cc;
}

.survey-details h4{
  color: #8d9699;
  font-size: 18px;
}

.survey-info-left-block{
  width: 355px;
  float: left;
  padding: 0 35px 0 30px;
}

.survey-info-right-block{
  width: 340px;
  float: left;
  padding: 0 20px 0px 0px;
}

.survey-info-right-block .survey-default-locale{
  height: 50px;
}

.survey-info-item input, .survey-info-item select{
  color: #8d9699;
  width: 330px;
  margin-left: 0;
}

.itemsForm .item-value select.text-field{
  width: 338px;
}

#survey-details textarea{
  height: 70px;
}

.survey-details .language-box select{
  margin: 0;
  margin-bottom: 10px;
}
.survey-details .status-box{
  background: #f5f2eb;
  width: 338px;
  height: 80px;
  border-radius: 4px;
}

.survey-details .status-box .switch-box{
  margin: 20px 11px;
  float: left;
}

.survey-details .status-box .status-switch-info{
  margin: 7px 11px 10px 0px;
  float: right;
  width: 150px;
  height: 63px;
  overflow: hidden;
  line-height: 1.33333;
}

.survey-details .status-box .status-switch-info table{
  width: 150px;
  height: 60px;
}

.survey-details .status-box .status-switch-info table td{
  vertical-align: middle;
  text-align: left;
}


/* questionsList
======================*/
.questionsList{
  padding: 0 20px;
  font-size: 18px;
  color: #8d9699;
}
.itemsForm h2{
  font-size: 28px;
  margin-bottom: -15px;
  margin-left: 30px;
  margin-top: 30px;
}

.questionsList input{
  text-align: left;
  margin-left: 0;
  width: 715px;
  color: #8d9699;
  font-size: 18px;
}
.questionsList input:focus{
  border: 1px solid #73acbf;
}

.firstPart .text-error{
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  margin-left: 174px;
  margin-top: 0;
}

.questionsList .one-question-data{
  height: 100%;
  overflow: hidden;
  margin: 3px;
  border: 1px dotted transparent;
  border-radius: 4px;
}
.questionsList .one-question-data.hover{
  background: #f5f9fa;

  /*border: 1px dashed rgba(29,149,89,0.2);*/
}

.questionsList .one-question-data input{
  float: left;
  width: 439px;
  margin: 5px 0;
}

.questionsList .one-question-data input:first-child{
  width: 220px;
  margin-right: 20px;
  margin-left: 5px;
}



//

.question-item {
  clear: both;
  margin-left: 5px;
  margin-top: 25px;

  h3 {
    font-size: 24px;
    margin: 10px;
  }
  h4 {
    font-size: 18px;
    margin: 15px 10px;
  }
  .text-field {
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: -1px;
    position: relative;
    width: 100%;
    z-index: 1;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
    &:focus , &.error {
      z-index: 2;
    }

    &.error {
      border-color: #d27373 !important;
    }
  }

  .question {
    float: left;
    width: 490px;

    textarea {
      height: 161px;
    }
  }
  .second-level-of-questions {
    float: left;
    margin-left: 20px;
    position: relative;
    width: 220px;

    .switch-box {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      width: 74px;

      .icon {
        margin: 0 -10px;
      }

      &.unpublish {
        background: #ebf1f3;
        border-color: #d7ddde;
      }
    }
  }
  .message {
    display: none;
  }

  &.attention {
    background: #f5f2eb;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -5px;
    padding-bottom: 10px;
    padding-left: 10px;

    .message {
      clear: both;
      color: #828380;
      display: block;
      font-size: 15px;
      line-height: 20px;
      padding-top: 15px;
      text-align: center;

      .icon {
        margin-right: 10px;
      }
    }
  }

  .back {
    background: #f5f2eb;
    border-radius: 4px;
    height: 100%;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;

    .btnGradient {
      border: 1px solid #c9d3d6;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      padding: 6px 10px;
      margin-left: 50px;
      margin-top: 80px;

      &.hover {
        background: #fff;
      }
    }
  }
}

input[readonly=readonly] {
  color: #c0c9cc;
}

.locale-item.active {
  display: none;
}
.questionsList .tab-content {
  display: none;
  &.active {
    display: block;
  }
}
.question-item {
  height: 100%;
  overflow: hidden;
  padding-bottom: 1px;
}

.lang-tab.attention {
  background: #f5f2eb;
}



@import "lang_tabs";
.lang-tabs {
  margin-top: 15px;
}
@import "rows";
.rows .flag-big {
  margin-right: 18px;
}