@import "users_add.scss";

.confirm-form {
  background: #f5f2eb;
  padding-bottom: 10px;
  padding-top: 24px;

  .item-title {
    margin-top: -29px;
  }
  .text-field {
    background: #fff;
  }
}

.email {
  color: #adadad;
  font-size: 18px;
}

.saveBtn {
  margin-right: 10px !important;
}