.saveBtn {
  margin-right: 10px !important;
}

.itemsForm {
  position: relative;

  .full-overlap {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &.active {
      display: block;
      opacity: .8;
    }
  }

  .item-value .password {
    .text-field{
      width: 258px;
      margin-right: 10px;
      display: inline-block;
    }

    .ico-lock{
      width: 19px;
      height: 17px;
      float: right;
      padding: 11px 13px;
      display: block;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #d8e2e5;

      div{
        width: 19px;
        height: 17px;
        overflow: hidden;
        background-image: url("/img/icons.png");
        background-repeat: no-repeat;
        background-position: -125px 2px;
      }
      &.hover div{
        background-position: -125px -20px;
      }
      &.active{
        background: #dde7eb;

        div{
          background-position: -125px -20px;
        }
      }
    }
  }
}

.status-box{
  background: #f5f2eb;
  width: 338px;
  height: 80px;
  border-radius: 4px;
}
.switch-box {
  margin: 20px 100px;
  float: left;

  .status-text {
    font-size: 16px;
    font-weight: 700;
  }
  .status-switcher {
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba( 0 , 0 , 0 , .5 );
    height: 36px;
    margin-right: 0;
    margin-top: 0;
    width: 36px;
  }
}

@import "rows";

.roles-list {
  .switch-box {
    display: none;
    margin: 0;
    position: absolute;
    right: 45px;
    top: 6px;
    width: 72px;

    .text {
      top: 3px;
      right: 10px;
    }
    &.active .text {
      left: 10px;
    }
  }
  .active .switch-box {
    display: block;
  }
}
#role-Reports .switch-box {
  display: none;
}

#confirm {
  padding: 6px;
}

