$fullWidth : 780px;
$filtersListWidth : 240px;
$padding : 20px;
$contentListWidth : $fullWidth - $filtersListWidth - $padding * 2 - 1;

$rowHeight : 51px;

$timeDuration : .8s;

@mixin line-gradient ( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : right ) {
  background-image: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}


.rows .row {
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: $rowHeight;
  position: relative;
}

.cols {
  border: 1px solid transparent;//#d8e2e5;
  border-right: 0;
  border-top: 0;
  margin: 0 $padding;
  position: relative;

  .shadow-block {
    @include line-gradient( rgba( 216 , 226 , 229 , 0 ) , #d8e2e5 , 50% );
    height: 100%;
    left: $filtersListWidth - 10px;
    position: absolute;
    width: 10px;
    z-index: 3;
  }

  .col {
    float: left;
    margin-bottom: -1px;
  }
  .row-title {
    line-height: 51px;
    margin-left: 18px;
    position: relative;
  }
  .overlap {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 78px;
  }
  .filters {
    width: $filtersListWidth;

    .rows {
      //border-left: 1px solid #d8e2e5;
      border-right: 1px solid #d8e2e5;

      .row.row-item {
        background: #f3f6f7;
        border-bottom: 1px solid #d8e2e5;
        border-top: 1px solid #d8e2e5;
        color: #adadad;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -1px;
        overflow: hidden;
        position: relative;

        .overlap {
          @include line-gradient( rgba( 243 , 246 , 247 , 0 ) , #f3f6f7 );
        }
        &.hover {
          background: #fff;
          z-index: 1;

          .overlap {
            @include line-gradient( rgba( 255 , 255 , 255 , 0 ) , #fff );
          }
        }
        &.active {
          background: #e2e9eb;
          color: #575757;
          z-index: 2;

          .overlap {
            @include line-gradient( rgba( 226 , 233 , 235 , 0 ) , #e2e9eb );
          }
        }
      }
    }
  }
  .content-list {
    width: $contentListWidth;

    .rows {
      .row.row-item {
        border: 1px solid #d8e2e5;
        //border-top: 0;
        color: #8d9699;
        margin-top: -1px;
        margin-right: -1px;
        overflow: hidden;
        text-decoration: none;
      }
    }
  }
}


.itemsForm .item-value .password {
  .text-field{
    width: 258px;
    margin-right: 10px;
    display: inline-block;
  }

  .ico-lock{
    width: 19px;
    height: 17px;
    float: right;
    padding: 11px 13px;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #d8e2e5;

    div{
      width: 19px;
      height: 17px;
      overflow: hidden;
      background-image: url("/img/icons.png");
      background-repeat: no-repeat;
      background-position: -125px 2px;
    }
    &.hover div{
      background-position: -125px -20px;
    }
    &.active{
      background: #dde7eb;
    }
    &.active div{
      background-position: -125px -20px;
    }
  }
}

.filters .row {
  .icon-checkbox {
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  &.hover .icon-checkbox , &.active .icon-checkbox {
    display: block;
  }
}
.content-list {
  .row {
    .hover-icon {
      display: none;
      float: right;
      margin-right: 20px;
      margin-top: 17px;
    }
    &.hover .hover-icon {
      display: block;
    }
  }
  .checked-filters {
    color: #575757;
    font-size: 28px;
    padding: 20px;
  }
  .checked-filters , .row {
    display: block;
  }
  .empty {
    display: none;
  }
  &.empty-list {
    .checked-filters , .row {
      display: none;
    }
    .empty {
      display: block;
    }
  }
}

a[data-status="0"] .row-title {
  opacity: .5;
}

.createBtn {
  margin-right: 10px;
  margin-top: 10px;
  width: 42px;
}
.big-size {
  font-size: 26px;
  font-weight: bold;
}
.over-right {
  float: right;
}

.clear-fix {
  clear: both;
}