@mixin line-gradient( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : top ) {
  background: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}

$colMarginLeft : 20px;
$colWidth : 780px / 2 - $colMarginLeft;
$menuHeight : 82px;
$menuPadding : 20px;
$tableHeaderHeight : 45px;

#middleContent {
  padding-top: 110px + $menuHeight + $tableHeaderHeight;
}

.menu {
  @include line-gradient( #f2f5f6 , #fff );
  border-bottom: 1px solid #d8e2e5;
  height: $menuHeight - $menuPadding * 2;
  padding: $menuPadding;

  .col {
    float: left;
    width: $colWidth;

    [type=text] {
      background: #fff;
      width: $colWidth / 2 - $colMarginLeft;
    }
    [type=email] {
      background: #fff;
      width: $colWidth / 3 * 2 - $colMarginLeft;
    }
  }
}

.text-field {
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  margin-left: $colMarginLeft;
  -moz-box-sizing: border-box;

  &:first-child {
    margin-left: 0;
  }
}
[type=submit] , .added {
  cursor: pointer;
  width: $colWidth / 3;

  &.hover {
    background: #fff;
  }
}

.row-item-cell {
  border-bottom: 1px solid #f0f4f5;
  display: table-cell;
  float: none !important;
  width: 145px;

  &:first-child {
    width: 180px;
  }
  &:last-child {
    width: 332px;
  }

  .date {
    font-size: 16px;
  }
  .added {
    margin: 0 0 15px;
    padding: 0px 15px;
    width: auto;
  }
}

.row-item {
  cursor: default !important;
  display: table-row;
}