#pageMenu , #topMenu , #leftMenu , #contentBgBlock {
    display: none;
}
#mainContainer {
    position: absolute;
    top: 50%;
    margin-top: -170px;
    width: 620px;
    height: 340px;
    background: #fff;
    border-radius: 4px;
}
#middleContent {
    background: none;
    padding: 0;
    width: inherit;
    height: 100%;
}
.btnGradient {
    border: 1px solid #c9d3d6;
    border-radius: 3px;
    color: #757471;
    display: block;
    padding: 6px 18px;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    top: 253px;
    left: 279px;
    position: absolute;
    text-decoration: none;
}
.btnGradient:hover , .btnGradient:focus {
    background: #fff;
}
.number {
    color: #c5cdd0;
    font-size: 112px;
    font-weight: bold;
    text-shadow: 0 6px 2px #f5f6f6;
    left: 60px;
    top: 74px;
    width: 219px;
    position: absolute;
}
.message {
    display: table;
    width: 341px;
    height: 275px;
    position: absolute;
    left: 279px;
}
.message .text {
    display: table-cell;
    vertical-align: middle;
}
.message h1 {
    color: #3b3e40;
    font-size: 32px;
    line-height: 38px;
    width: 260px;
    /*margin-top: 50px;*/
}
.message p {
    color: #adadad;
    font-size: 15px;
    line-height: 28px;
    width: 290px;
    margin-top: 12px;
}
