.rows .row {
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 51px;
  position: relative; }

.cols {
  border: 1px solid transparent;
  border-right: 0;
  border-top: 0;
  margin: 0 20px;
  position: relative; }
  .cols .shadow-block {
    background-image: linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -o-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -moz-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -webkit-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -ms-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    height: 100%;
    left: 230px;
    position: absolute;
    width: 10px;
    z-index: 3; }
  .cols .col {
    float: left;
    margin-bottom: -1px; }
  .cols .row-title {
    line-height: 51px;
    margin-left: 18px;
    position: relative; }
  .cols .overlap {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 78px; }
  .cols .filters {
    width: 240px; }
    .cols .filters .rows {
      border-right: 1px solid #d8e2e5; }
      .cols .filters .rows .row.row-item {
        background: #f3f6f7;
        border-bottom: 1px solid #d8e2e5;
        border-top: 1px solid #d8e2e5;
        color: #adadad;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -1px;
        overflow: hidden;
        position: relative; }
        .cols .filters .rows .row.row-item .overlap {
          background-image: linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -o-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -moz-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -webkit-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -ms-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%); }
        .cols .filters .rows .row.row-item.hover {
          background: #fff;
          z-index: 1; }
          .cols .filters .rows .row.row-item.hover .overlap {
            background-image: linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -o-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -moz-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -webkit-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -ms-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%); }
        .cols .filters .rows .row.row-item.active {
          background: #e2e9eb;
          color: #575757;
          z-index: 2; }
          .cols .filters .rows .row.row-item.active .overlap {
            background-image: linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -o-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -moz-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -webkit-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -ms-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%); }
  .cols .content-list {
    width: 499px; }
    .cols .content-list .rows .row.row-item {
      border: 1px solid #d8e2e5;
      color: #8d9699;
      margin-top: -1px;
      margin-right: -1px;
      overflow: hidden;
      text-decoration: none; }

.itemsForm .item-value .password .text-field {
  width: 258px;
  margin-right: 10px;
  display: inline-block; }
.itemsForm .item-value .password .ico-lock {
  width: 19px;
  height: 17px;
  float: right;
  padding: 11px 13px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #d8e2e5; }
  .itemsForm .item-value .password .ico-lock div {
    width: 19px;
    height: 17px;
    overflow: hidden;
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    background-position: -125px 2px; }
  .itemsForm .item-value .password .ico-lock.hover div {
    background-position: -125px -20px; }
  .itemsForm .item-value .password .ico-lock.active {
    background: #dde7eb; }
  .itemsForm .item-value .password .ico-lock.active div {
    background-position: -125px -20px; }

.filters .row .icon-checkbox {
  display: none;
  position: absolute;
  right: 20px;
  top: 15px; }
.filters .row.hover .icon-checkbox, .filters .row.active .icon-checkbox {
  display: block; }

.content-list .row .hover-icon {
  display: none;
  float: right;
  margin-right: 20px;
  margin-top: 17px; }
.content-list .row.hover .hover-icon {
  display: block; }
.content-list .checked-filters {
  color: #575757;
  font-size: 28px;
  padding: 20px; }
.content-list .checked-filters, .content-list .row {
  display: block; }
.content-list .empty {
  display: none; }
.content-list.empty-list .checked-filters, .content-list.empty-list .row {
  display: none; }
.content-list.empty-list .empty {
  display: block; }

a[data-status="0"] .row-title {
  opacity: .5; }

.createBtn {
  margin-right: 10px;
  margin-top: 10px;
  width: 42px; }

.big-size {
  font-size: 26px;
  font-weight: bold; }

.over-right {
  float: right; }

.clear-fix {
  clear: both; }

.rows .row .row-count {
  float: right;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 11px; }
.rows .row .row-status {
  float: left;
  font-size: 0;
  margin-left: 10px;
  margin-top: 18px;
  width: 16px;
  height: 16px; }
  .rows .row .row-status.trusted {
    background: url("/img/icons.png") no-repeat -106px -197px;
    opacity: 0.5; }
    .rows .row .row-status.trusted:hover {
      opacity: 1; }
.rows .row .row-title {
  margin-left: 38px; }

.content-list .row[data-count="0"] {
  background: #f5f2eb !important; }
  .content-list .row[data-count="0"] .overlap {
    background-image: linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%); }
.content-list .overlap {
  margin-right: 80px; }
