.itemsForm .generate-new-password {
  cursor: pointer;
  opacity: .5; }
  .itemsForm .generate-new-password.hover {
    opacity: 1; }
.itemsForm .item-value .creditsBlock {
  height: 41px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #d8e2e5; }
  .itemsForm .item-value .creditsBlock .text-field {
    width: 220px;
    float: left;
    border: 0px solid transparent;
    border-radius: 0px; }
.itemsForm .btnCredits {
  height: 41px;
  width: 41px;
  line-height: 40px;
  position: relative;
  z-index: 1;
  float: right;
  text-align: center;
  box-shadow: -1px 0px 0px #d8e2e5;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }
  .itemsForm .btnCredits:last-child {
    margin-right: 1px; }
  .itemsForm .btnCredits:active {
    background: transparent; }
.itemsForm .status-box {
  background: #f5f2eb;
  width: 238px;
  height: 59px;
  border-radius: 4px;
  padding-left: 100px;
  padding-top: 21px;
  float: left; }
  .itemsForm .status-box .text {
    right: 33px; }

.confirm-form {
  background: #f5f2eb;
  padding-bottom: 10px;
  padding-top: 24px; }
  .confirm-form .item-title {
    margin-top: -29px; }
  .confirm-form .text-field {
    background: #fff; }

.email {
  color: #adadad;
  font-size: 18px; }

#confirm {
  padding: 6px; }

.itemsForm {
  position: relative; }
  .itemsForm .full-overlap {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5; }
    .itemsForm .full-overlap.active {
      display: block;
      opacity: .8; }
