.row-item-cell.location-name{
    width: 450px;
}

.row-item-cell.location-survey-count{
    text-align: center;
    width: 60px;
}

.row-item-cell.location-modified{
    width: 145px;
    text-align: left;
}
#middleContent{
    padding-top: 153px;
}
#pageMenu .secondPart{
    display: block;
    height: 45px;
    width: 100%;
    background: #ffffff;
    /*box-shadow: 0px 1px 4px rgba(0,0,0,0.25);*/
}
#pageMenu .secondPart .row-items-list.title{

}
.newLocationBtn{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}