h2 {
  padding: 20px;
  padding-bottom: 5px; }

.oneLocaleType {
  padding-left: 40px; }
  .oneLocaleType span {
    display: inline-block;
    min-width: 100px;
    margin-right: 15px; }
    .oneLocaleType span:after {
      content: ":"; }

.btnGradient {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: auto !important;
  line-height: 17px !important;
  padding: 15px 13px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #d8e2e5;
  width: auto !important; }

.btnGradient.hover {
  background: #ffffff; }

/*btn*/
.file-selector {
  width: 262px;
  position: relative;
  float: right; }

.file-selector input {
  left: 13px;
  top: 13px;
  opacity: 0;
  z-index: 1;
  position: absolute; }

.file-selector div {
  width: 262px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 2; }

/*preview*/
.file-preview {
  float: left;
  width: 66px;
  height: 50px;
  position: relative;
  margin-right: 10px;
  background: #f2f5f6;
  box-shadow: 0 0 1px #d8e2e5 inset; }

.file-preview table {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 66px; }

.file-preview table td {
  line-height: 0;
  vertical-align: middle;
  text-align: center; }

.file-preview img {
  max-width: 66px;
  max-height: 50px;
  opacity: 0; }

.file-preview img.active {
  opacity: 1; }
