#middleContent{
    padding-top: 301px;
}

#pageMenu .secondPart{
    color: #8d9699;
    display: block;
    height: auto;
}

.location-details{
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.location-details h4{
    font-size: 18px;
    font-weight: bold;
}

.location-about{
    float: left;
    height: 110px;
    margin-top: 6px;
    padding-left: 20px;
    width: 340px;
    overflow: hidden;
}

.location-acount{
    float: left;
    width: 220px;
    padding-left: 20px;
}

.location-acount .iPad-ico{
    float: left;
    width: 25px;
    height: 31px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 6px;

    background: url("/img/icons.png") no-repeat -175px -169px;
}

.location-acount .location-acount-name{
    float: left;
    width: 185px;
}

.location-acount span{
    font-weight: bold;
}

.location-phones{
    float: left;
    width: 140px;
    padding-left: 20px;
}

.row-items-list.title .row-item{
    border-top-color: #F0F4F5;
    border-top-style: solid;
    border-top-width: 1px;
}

.row-item-cell.surveys-name{
    width: 408px;
}
.row-item-cell.surveys-questions-count{
    text-align: center;
    width: 75px;
}
.row-item-cell.surveys-modified{
    width: 145px;
    text-align: left;
}

select.attach-survey{
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 20px;
    margin-top: 8px;
    margin-right: 0px;
    max-width: 225px;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    width: 225px;
}

.surveys-name .action-divider{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 8px 20px 0px 20px;
}

.btn.add-survey{
    float: left;
    width: 100px;
    margin-top: 8px;
    line-height: 28px;
    padding-right: 8px;
    font-size: 16px;
}

.ico-plus{
    width: 12px;
    height: 13px;
    overflow: hidden;
    float: left;
    display: block;
    background:url("/img/icons.png") no-repeat -4px -169px;
    margin-left: 10px;
    margin-top: 9px;
}

/* surveys-status
======================*/
.row-items-list.data .row-item .row-item-cell.surveys-status,.row-items-list.title .row-item .row-item-cell.surveys-status{
    width: 19px;
    padding: 0px;
}

.surveys-status div{
    width: 2px;
    height: 12px;
    border-radius: 2px;
    margin: 13px 0px 0px 7px;
    display: none;
}

.surveys-status div.unpublish{
    display: block;
    background: #d8dcde;
    border: 1px solid #cbcfd1;
}

.surveys-status div.publish{
    display: block;
    background: #29cc7a;
    border: 1px solid #1bb467;
}

.surveys-status div.unpublish{
    display: block;
    background: #f3af1e;
    border: 1px solid #c69613;
}


/* .editBtn
=============*/
.editBtn{
    right: 10px;
}
