.itemsForm .column1.item-title {
  text-align: center; }
.itemsForm .column3 {
  margin-left: 30px; }
  .itemsForm .column3.item-help img {
    margin-top: 6px; }
  .itemsForm .column3.item-help .addNew {
    margin-top: 23px; }
