#middleContent {
  padding-top: 155px; }

.row-items-list.title .row-item .row-item-cell {
  float: right; }
  .row-items-list.title .row-item .row-item-cell a {
    color: #98ACB3;
    text-decoration: none; }
    .row-items-list.title .row-item .row-item-cell a:hover {
      text-decoration: underline; }

.row-items-list.data.localesList .row-item .row-item-cell {
  width: 740px; }
