/* Hide othe elements
======================*/
#topMenu {
  display: none; }

#pageMenu {
  display: none; }

#leftMenu {
  display: none; }

#contentBgBlock {
  display: none; }

#middleContent, #mainContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e6edf0; }

/* Login
======================*/
#loginForm {
  width: 500px;
  margin: 0 auto;
  font-size: 16px; }
  #loginForm .cell {
    padding: 30px 0; }
  #loginForm .companyLogo {
    display: none;
    width: 100%;
    height: 100px;
    background: #494949;
    text-align: center;
    line-height: 100px;
    color: #757575;
    font-size: 30px;
    margin-bottom: 30px; }
  #loginForm .form {
    /*height: 100%;*/
    width: 300px;
    margin: 0 auto;
    padding: 28px;
    background: #ffffff;
    border-radius: 4px;
    color: #8d9699; }
    #loginForm .form .title {
      font-size: 30px;
      font-weight: bold; }
    #loginForm .form .loginMsg {
      margin-bottom: 10px; }
  #loginForm .btn-login {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    height: 40px;
    padding-bottom: 4px;
    cursor: pointer; }
  #loginForm .support {
    display: none;
    font-size: 16px; }

.locales form {
  display: inline-block;
  border-right: 1px solid #d5dcdf;
  margin-top: 10px;
  padding: 2px 25px; }
  .locales form input {
    background: none;
    border: 0;
    border-bottom: 1px solid #c0c4c6;
    color: #c0c4c6;
    cursor: pointer;
    font-size: 16px; }
    .locales form input.hover {
      border-bottom: 1px solid #73acbf;
      color: #73acbf; }
  .locales form input[type=button] {
    cursor: default;
    border-color: transparent; }
  .locales form:last-child {
    border: 0; }

.text-field.active, .text-field:active, .text-field:focus {
  border-color: #8d9699; }

.btn {
  box-shadow: none !important; }
