.rows .row {
  cursor: pointer;
  font-size: 18px;
  height: 51px;
  position: relative; }

.tabs .tab-half {
  width: 248px; }
.tabs .tab {
  background: #e6f1f5;
  background: -moz-linear-gradient(top, white, #e6f1f5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6f1f5));
  background: -webkit-linear-gradient(top, white, #e6f1f5);
  background: -o-linear-gradient(top, white, #e6f1f5);
  background: -ms-linear-gradient(top, white, #e6f1f5);
  background: linear-gradient(top, white, #e6f1f5);
  border: 1px solid #c9d3d6;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-right: -1px;
  margin-top: 8px;
  padding: 10px 0;
  text-align: center; }
  .tabs .tab.hover {
    background: #fff; }
  .tabs .tab.active {
    background: #fff;
    cursor: auto;
    margin-top: 0;
    padding: 14px 0; }

.tab-container {
  display: none; }
  .tab-container.active {
    display: block; }

.cols {
  border: 1px solid transparent;
  border-right: 0;
  border-top: 0;
  margin: 0 20px;
  position: relative; }
  .cols .shadow-block {
    background-image: linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -o-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -moz-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -webkit-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    background-image: -ms-linear-gradient(right, #d8e2e5 0, rgba(216, 226, 229, 0) 50%);
    height: 100%;
    left: 230px;
    position: absolute;
    width: 10px;
    z-index: 3; }
  .cols .col {
    float: left; }
  .cols .row-title {
    line-height: 51px;
    margin-left: 18px;
    position: relative; }
  .cols .overlap {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 78px; }
  .cols .groups-prize {
    width: 240px; }
    .cols .groups-prize .rows {
      border-right: 1px solid #d8e2e5; }
      .cols .groups-prize .rows .row.group-item {
        background: #f3f6f7;
        border: 1px solid #d8e2e5;
        border-top: 0;
        color: #adadad;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        position: relative; }
        .cols .groups-prize .rows .row.group-item .overlap {
          background-image: linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -o-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -moz-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -webkit-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%);
          background-image: -ms-linear-gradient(right, #f3f6f7 0, rgba(243, 246, 247, 0) 100%); }
        .cols .groups-prize .rows .row.group-item.hover {
          background: #fff;
          z-index: 1; }
          .cols .groups-prize .rows .row.group-item.hover .overlap {
            background-image: linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -o-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -moz-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -webkit-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
            background-image: -ms-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%); }
        .cols .groups-prize .rows .row.group-item.active {
          background: #e2e9eb;
          color: #575757;
          z-index: 2; }
          .cols .groups-prize .rows .row.group-item.active .overlap {
            background-image: linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -o-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -moz-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -webkit-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%);
            background-image: -ms-linear-gradient(right, #e2e9eb 0, rgba(226, 233, 235, 0) 100%); }
  .cols .prizes-list {
    width: 499px; }
    .cols .prizes-list .rows .row.prize-item {
      border: 1px solid #d8e2e5;
      border-top: 0;
      cursor: default;
      overflow: hidden; }
      .cols .prizes-list .rows .row.prize-item .controls {
        position: absolute;
        right: 0;
        top: 6px; }
        .cols .prizes-list .rows .row.prize-item .controls * {
          float: left; }
      .cols .prizes-list .rows .row.prize-item .cancel {
        background: transparent;
        box-shadow: 1px 1px 0px #bed3da inset, -1px -1px 0px #bed3da inset; }
        .cols .prizes-list .rows .row.prize-item .cancel.hover {
          background: #fff; }
      .cols .prizes-list .rows .row.prize-item .prize-count {
        float: right;
        font-weight: bold; }
      .cols .prizes-list .rows .row.prize-item input.prize-count {
        background: #fff;
        float: none;
        margin-right: 10px;
        padding-bottom: 7px;
        padding-top: 7px;
        text-align: right;
        width: 40px; }
      .cols .prizes-list .rows .row.prize-item .view {
        background: #fff;
        height: 100%; }
        .cols .prizes-list .rows .row.prize-item .view .overlap {
          background-image: linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
          background-image: -o-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
          background-image: -moz-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
          background-image: -webkit-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
          background-image: -ms-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%); }
        .cols .prizes-list .rows .row.prize-item .view .hover-icon {
          display: none; }
        .cols .prizes-list .rows .row.prize-item .view .prize-count {
          margin-right: 20px;
          margin-top: 11px; }
        .cols .prizes-list .rows .row.prize-item .view .row-title {
          color: #adadad;
          width: 80%; }
      .cols .prizes-list .rows .row.prize-item .edit {
        background: #e9f3f6;
        height: 100%;
        display: none; }
        .cols .prizes-list .rows .row.prize-item .edit .overlap {
          background-image: linear-gradient(right, #e9f3f6 0, rgba(233, 243, 246, 0) 100%);
          background-image: -o-linear-gradient(right, #e9f3f6 0, rgba(233, 243, 246, 0) 100%);
          background-image: -moz-linear-gradient(right, #e9f3f6 0, rgba(233, 243, 246, 0) 100%);
          background-image: -webkit-linear-gradient(right, #e9f3f6 0, rgba(233, 243, 246, 0) 100%);
          background-image: -ms-linear-gradient(right, #e9f3f6 0, rgba(233, 243, 246, 0) 100%); }
        .cols .prizes-list .rows .row.prize-item .edit .row-title {
          color: #575757;
          width: 60%; }
        .cols .prizes-list .rows .row.prize-item .edit .btn {
          height: auto;
          margin-right: 4px; }
        .cols .prizes-list .rows .row.prize-item .edit .btn .icon {
          margin: 10px 13px; }
      .cols .prizes-list .rows .row.prize-item.editable .view {
        display: none; }
      .cols .prizes-list .rows .row.prize-item.editable .edit {
        display: block; }
    .cols .prizes-list .rows .row.quiz-item {
      cursor: auto; }
      .cols .prizes-list .rows .row.quiz-item .row-title {
        width: auto !important; }
    .cols .prizes-list .rows.write .row .view {
      cursor: pointer; }
      .cols .prizes-list .rows.write .row .view.hover .hover-icon {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: 17px; }
      .cols .prizes-list .rows.write .row .view.hover .prize-count {
        display: none; }

#add-prizes, #add-quizzes {
  background: #e6f1f5;
  background: -moz-linear-gradient(top, white, #e6f1f5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6f1f5));
  background: -webkit-linear-gradient(top, white, #e6f1f5);
  background: -o-linear-gradient(top, white, #e6f1f5);
  background: -ms-linear-gradient(top, white, #e6f1f5);
  background: linear-gradient(top, white, #e6f1f5);
  border: 1px solid #c9d3d6;
  color: #575757;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none; }
  #add-prizes.hover, #add-quizzes.hover {
    background: #fff; }
  #add-prizes.disabled, #add-quizzes.disabled {
    background: #fff;
    color: #adadad; }
  #add-prizes .icon, #add-quizzes .icon {
    margin-right: 10px;
    margin-top: -5px;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -ms-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -animation-duration: 0.8s;
    animation-duration: 0.8s; }

.active-group {
  margin: 20px;
  width: 370px; }
  .active-group .group-name {
    color: #575757;
    font-size: 28px;
    font-weight: bold; }
  .active-group .group-note {
    color: #adadad;
    font-size: 18px; }

.createBtn {
  margin-right: 10px;
  margin-top: 10px;
  width: 42px; }

.btnEdit {
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -10px;
  padding: 8px 13px; }
  .btnEdit.hover {
    background: #fff; }

.big-size {
  font-size: 26px;
  font-weight: bold; }

.over-right {
  float: right; }

#prizes-list .prize-item[data-count="0"] .view {
  background: #f5f2eb !important; }
  #prizes-list .prize-item[data-count="0"] .view .overlap {
    background-image: linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(right, #f5f2eb 0, rgba(255, 255, 255, 0) 100%); }

.clear-fix {
  clear: both; }
