.btnAddPrize {
  border-radius: 4px;
  font-weight: 700;
  padding: 10px; }

.btnGradient {
  border: 1px solid #c9d3d6;
  cursor: pointer;
  font-size: 18px;
  text-align: center; }
  .btnGradient.hover {
    background: #fff; }

.saveBtn {
  margin-right: 10px !important; }

#prizes .item-row .item-title {
  opacity: 0; }
#prizes .item-row:first-child .item-title {
  opacity: 1; }
#prizes .item-row .text-field {
  border-radius: 0;
  font-weight: 600;
  margin-bottom: 0;
  position: relative; }
  #prizes .item-row .text-field:focus {
    z-index: 2; }
#prizes input.text-field {
  padding: 14px 10px; }
#prizes .btnSum {
  height: 51px;
  line-height: 50px;
  position: relative;
  width: 29px;
  z-index: 1; }
#prizes .item-value div * {
  float: left;
  margin-left: -1px !important; }
#prizes .prize-title {
  margin-left: 0 !important;
  width: 199px !important; }
#prizes .prize-count {
  text-align: center;
  width: 38px !important; }
#prizes .prize-note {
  font-weight: normal !important;
  height: 85px;
  margin-top: -1px;
  width: 318px; }
#prizes .chances .btnGradient {
  height: 38px;
  line-height: 36px;
  margin-left: 0 !important;
  margin-top: -1px;
  width: 66px; }
  #prizes .chances .btnGradient.hover {
    background: #fff; }
  #prizes .chances .btnGradient.active {
    background: #b6bfc2;
    border-color: #b6bfc2;
    color: #fff;
    text-shadow: 0 1px 0 #5d6466; }
  #prizes .chances .btnGradient:first-child {
    border-radius: 0 0 0 4px; }
  #prizes .chances .btnGradient:last-child {
    border-radius: 0 0 4px 0; }
#prizes .prize-remove {
  cursor: pointer;
  display: inline-block;
  margin-top: 80px; }
  #prizes .prize-remove .icon {
    margin-right: 3px;
    margin-top: -7px;
    opacity: .6; }
  #prizes .prize-remove span {
    color: #8d9699;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline; }
  #prizes .prize-remove.hover span {
    color: #73acbf; }

#quizzes .quiz {
  border-top: 1px solid #d8e2e5;
  padding: 7px 12px; }
  #quizzes .quiz:first-of-type {
    border-top: 0; }
  #quizzes .quiz span {
    color: #8d9699;
    font-size: 18px; }
  #quizzes .quiz .icon-close {
    cursor: pointer;
    margin-top: 9px;
    opacity: .6; }
    #quizzes .quiz .icon-close.hover {
      opacity: 1; }

#add-quiz-option {
  display: none; }

.itemsForm .item-value select.text-field {
  color: #c0c9cc;
  width: 100%; }
  .itemsForm .item-value select.text-field option {
    color: #8d9699; }

.over-right {
  float: right; }

.clear-fix {
  clear: both; }

#add-lang .locale-item.selected {
  display: none; }

.lang-tabs {
  background-image: linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -o-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -moz-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -webkit-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -ms-linear-gradient(bottom, #f3f6f7 0, white 100%);
  border-bottom: 1px solid #e8eeef;
  margin-bottom: 40px;
  position: relative;
  text-align: center; }
  .lang-tabs .col {
    display: inline-block;
    margin: 0 5px; }
  .lang-tabs .tab {
    background: #fff;
    border: 1px solid #d8e2e5;
    bottom: -20px;
    color: #8d9699;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    margin-left: -1px;
    padding: 6px 12px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1; }
    .lang-tabs .tab .flag {
      margin-right: 10px;
      margin-top: -2px; }
    .lang-tabs .tab .remove {
      display: none; }
    .lang-tabs .tab.attention {
      background: #f5f2eb; }
    .lang-tabs .tab.active {
      background: #b6bfc2;
      border-color: #b6bfc2;
      color: #fff;
      text-shadow: 0 1px 0 #929b9d;
      z-index: 2; }
      .lang-tabs .tab.active .flag {
        display: none; }
      .lang-tabs .tab.active .remove {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 0 #929b9d;
        display: inline-block;
        height: 17px;
        margin: -4px 12px 0 0;
        vertical-align: middle;
        width: 17px; }
        .lang-tabs .tab.active .remove .icon {
          margin: -7px 3px 3px; }
    .lang-tabs .tab.initialized.active {
      cursor: default; }
    .lang-tabs .tab.initialized .flag {
      display: inline-block; }
    .lang-tabs .tab.initialized .remove {
      display: none; }
    .lang-tabs .tab:first-child {
      border-radius: 4px 0 0 4px;
      margin-left: 0; }
    .lang-tabs .tab:last-child {
      border-radius: 0 4px 4px 0; }
    .lang-tabs .tab:only-child {
      border-radius: 4px; }
  .lang-tabs:after {
    background-image: linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    padding-top: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; }
  .lang-tabs:before {
    background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    content: '';
    height: 100%;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 50%; }
  .lang-tabs [data-tab=add] .icon {
    display: inline-block;
    margin: -2px 0 0; }

.rows .row {
  background: #fff;
  border: 1px solid #d8e2e5;
  color: #adadad;
  cursor: pointer;
  height: 50px;
  margin-top: -1px;
  overflow: hidden;
  position: relative; }
  .rows .row:first-of-type {
    margin-top: 0; }
  .rows .row .row-title {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 11px; }
  .rows .row.active {
    background: #f3f6f7;
    color: #575757; }
  .rows .row .icon-checkbox {
    display: none;
    position: absolute;
    right: 12px;
    top: 15px; }
  .rows .row.hover .icon-checkbox, .rows .row.active .icon-checkbox {
    display: block; }

.rows .flag-big {
  margin-right: 18px; }

.error {
  z-index: 2; }
