body {
  background: #ffffff;
  color: #000000; }

.content {
  width: 100%;
  height: auto; }
  .content .quiz-name {
    padding: 20px; }
    .content .quiz-name span {
      font-weight: bold; }
  .content .report-table .report-row {
    width: 100%;
    min-height: 30px;
    overflow: hidden;
    font-size: 0;
    box-shadow: 0px 1px 0px #c5cdd0 inset, 0px -1px 0px #c5cdd0 inset; }
  .content .report-table .report-cell {
    font-size: 16px;
    min-height: 20px;
    line-height: 20px;
    width: 350px;
    max-width: 350px;
    text-align: left;
    box-shadow: -1px 0px 0px #c5cdd0 inset; }
    .content .report-table .report-cell:first-child {
      box-shadow: 1px 0px 0px #c5cdd0 inset, -1px 0px 0px #c5cdd0 inset; }
    .content .report-table .report-cell div {
      padding: 10px;
      width: auto;
      overflow: hidden;
      height: auto; }
    .content .report-table .report-cell .questionDetails {
      padding: 10px; }
      .content .report-table .report-cell .questionDetails td {
        vertical-align: top;
        padding-bottom: 5px;
        border-bottom: 1px dotted #c5cdd0; }
        .content .report-table .report-cell .questionDetails td.q-title {
          color: #757471; }
        .content .report-table .report-cell .questionDetails td.msg-title {
          border-bottom: 0px solid transparent !important; }
        .content .report-table .report-cell .questionDetails td.msg-body {
          border-bottom: 0px solid transparent !important; }
          .content .report-table .report-cell .questionDetails td.msg-body span {
            margin-left: 15px;
            display: inline-block; }
  .content .report-table.report-title {
    font-weight: bold; }
  .content .report-table.report-content {
    height: auto;
    min-height: 400px; }
