.content {
  width: 100%;
  height: auto; }
  .content .quiz-name {
    padding: 20px; }
    .content .quiz-name span {
      font-weight: bold; }
  .content .report-table .report-row {
    width: 100%;
    min-height: 30px;
    overflow: hidden;
    font-size: 0;
    box-shadow: 0px 1px 0px #000000 inset, 0px -1px 0px #000000 inset; }
  .content .report-table .report-cell {
    font-size: 16px;
    min-height: 20px;
    line-height: 20px;
    width: 200px;
    padding: 10px 10px;
    max-width: 200px;
    text-align: left;
    box-shadow: -1px 0px 0px #000000 inset; }
    .content .report-table .report-cell:first-child {
      box-shadow: 1px 0px 0px #000000 inset, -1px 0px 0px #000000 inset; }
    .content .report-table .report-cell div {
      width: 200px;
      overflow: hidden;
      height: auto; }
  .content .report-table.report-title {
    font-weight: bold; }
  .content .report-table.report-content {
    height: auto;
    min-height: 400px; }
