@charset "IBM866";
#middleContent {
  padding-top: 324px; }

#pageMenu .secondPart {
  color: #8d9699;
  display: block;
  font-size: 14px;
  height: auto; }

.survey-details {
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 25px;
  /*color: #c0c9cc;*/ }

.survey-description {
  width: 320px;
  float: left;
  padding: 0 20px;
  margin-top: 6px;
  height: 110px;
  overflow: hidden; }

.survey-details h4 {
  color: #8d9699;
  font-size: 18px; }

.survey-other-info {
  width: 160px;
  float: left;
  padding: 0 20px; }

.survey-other-info .survey-default-locale {
  height: 50px; }

/* questionsList
==================*/
.questionsList {
  margin: 0 auto;
  width: 740px;
  margin: 0 20px;
  overflow: hidden;
  font-size: 18px;
  color: #8d9699; }

.questionsList h2 {
  font-size: 28px; }

.questionsList .row-item {
  text-align: left;
  line-height: 23px;
  margin-bottom: 12px; }

.questionsList .row-item span {
  font-weight: bold;
  display: block;
  float: left;
  text-align: right;
  width: 30px;
  margin-right: 4px; }

.questionsList .row-item strong {
  display: inline-block;
  margin-right: 8px; }

.question-lang-list {
  display: none;
  margin-top: 14px;
  list-style: decimal;
  padding-left: 40px; }

.question-lang-list.active {
  display: block; }

/* Survey status Btn
===================*/
.surveyStatusBtn {
  font-size: 18px;
  float: right;
  margin: 10px;
  font-weight: bold; }

.ico-unpublish {
  background-position: -26px 4px;
  /*ico-ссылки*/ }

.ico-publish {
  background-position: -50px 4px;
  /*ico-треугольник*/ }

.surveyStatusBtn.publish {
  background: #73acbf;
  color: #456773;
  text-shadow: 0px 1px 0px #8db8c7; }

.surveyStatusBtn.publish.hover {
  background: #7ab8cc;
  color: #ffffff;
  text-shadow: 0px 1px 0px #5d6466; }

.surveyStatusBtn.publish.hover .ico-publish {
  background-position: -68px 4px;
  /*ico-крестик*/ }

.survey-status-label {
  text-align: right;
  color: #456773;
  text-shadow: 0 1px 0 #8db8c7;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 12px; }

.sub-questions {
  font-size: 14px;
  opacity: .75; }

.lang-tabs {
  background-image: linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -o-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -moz-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -webkit-linear-gradient(bottom, #f3f6f7 0, white 100%);
  background-image: -ms-linear-gradient(bottom, #f3f6f7 0, white 100%);
  border-bottom: 1px solid #e8eeef;
  margin-bottom: 40px;
  position: relative;
  text-align: center; }
  .lang-tabs .col {
    display: inline-block;
    margin: 0 5px; }
  .lang-tabs .tab {
    background: #fff;
    border: 1px solid #d8e2e5;
    bottom: -20px;
    color: #8d9699;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    margin-left: -1px;
    padding: 6px 12px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1; }
    .lang-tabs .tab .flag {
      margin-right: 10px;
      margin-top: -2px; }
    .lang-tabs .tab .remove {
      display: none; }
    .lang-tabs .tab.attention {
      background: #f5f2eb; }
    .lang-tabs .tab.active {
      background: #b6bfc2;
      border-color: #b6bfc2;
      color: #fff;
      text-shadow: 0 1px 0 #929b9d;
      z-index: 2; }
      .lang-tabs .tab.active .flag {
        display: none; }
      .lang-tabs .tab.active .remove {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 1px 0 #929b9d;
        display: inline-block;
        height: 17px;
        margin: -4px 12px 0 0;
        vertical-align: middle;
        width: 17px; }
        .lang-tabs .tab.active .remove .icon {
          margin: -7px 3px 3px; }
    .lang-tabs .tab.initialized.active {
      cursor: default; }
    .lang-tabs .tab.initialized .flag {
      display: inline-block; }
    .lang-tabs .tab.initialized .remove {
      display: none; }
    .lang-tabs .tab:first-child {
      border-radius: 4px 0 0 4px;
      margin-left: 0; }
    .lang-tabs .tab:last-child {
      border-radius: 0 4px 4px 0; }
    .lang-tabs .tab:only-child {
      border-radius: 4px; }
  .lang-tabs:after {
    background-image: linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(right, white 0, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    padding-top: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; }
  .lang-tabs:before {
    background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0, white 100%);
    content: '';
    height: 100%;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 50%; }
  .lang-tabs [data-tab=add] .icon {
    display: inline-block;
    margin: -2px 0 0; }

.lang-tabs {
  margin-bottom: 20px; }
