.saveBtn {
  margin-right: 10px !important; }

.itemsForm {
  position: relative; }
  .itemsForm .full-overlap {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5; }
    .itemsForm .full-overlap.active {
      display: block;
      opacity: .8; }
  .itemsForm .item-value .password .text-field {
    width: 258px;
    margin-right: 10px;
    display: inline-block; }
  .itemsForm .item-value .password .ico-lock {
    width: 19px;
    height: 17px;
    float: right;
    padding: 11px 13px;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #d8e2e5; }
    .itemsForm .item-value .password .ico-lock div {
      width: 19px;
      height: 17px;
      overflow: hidden;
      background-image: url("/img/icons.png");
      background-repeat: no-repeat;
      background-position: -125px 2px; }
    .itemsForm .item-value .password .ico-lock.hover div {
      background-position: -125px -20px; }
    .itemsForm .item-value .password .ico-lock.active {
      background: #dde7eb; }
      .itemsForm .item-value .password .ico-lock.active div {
        background-position: -125px -20px; }

.status-box {
  background: #f5f2eb;
  width: 338px;
  height: 80px;
  border-radius: 4px; }

.switch-box {
  margin: 20px 100px;
  float: left; }
  .switch-box .status-text {
    font-size: 16px;
    font-weight: 700; }
  .switch-box .status-switcher {
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    height: 36px;
    margin-right: 0;
    margin-top: 0;
    width: 36px; }

.rows .row {
  background: #fff;
  border: 1px solid #d8e2e5;
  color: #adadad;
  cursor: pointer;
  height: 50px;
  margin-top: -1px;
  overflow: hidden;
  position: relative; }
  .rows .row:first-of-type {
    margin-top: 0; }
  .rows .row .row-title {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 11px; }
  .rows .row.active {
    background: #f3f6f7;
    color: #575757; }
  .rows .row .icon-checkbox {
    display: none;
    position: absolute;
    right: 12px;
    top: 15px; }
  .rows .row.hover .icon-checkbox, .rows .row.active .icon-checkbox {
    display: block; }

.roles-list .switch-box {
  display: none;
  margin: 0;
  position: absolute;
  right: 45px;
  top: 6px;
  width: 72px; }
  .roles-list .switch-box .text {
    top: 3px;
    right: 10px; }
  .roles-list .switch-box.active .text {
    left: 10px; }
.roles-list .active .switch-box {
  display: block; }

#role-Reports .switch-box {
  display: none; }

#confirm {
  padding: 6px; }
