#middleContent {
  padding-top: 237px; }

.menu {
  background: linear-gradient(top, white 0, #f2f5f6 100%);
  background: -o-linear-gradient(top, white 0, #f2f5f6 100%);
  background: -moz-linear-gradient(top, white 0, #f2f5f6 100%);
  background: -webkit-linear-gradient(top, white 0, #f2f5f6 100%);
  background: -ms-linear-gradient(top, white 0, #f2f5f6 100%);
  border-bottom: 1px solid #d8e2e5;
  height: 42px;
  padding: 20px; }
  .menu .col {
    float: left;
    width: 370px; }
    .menu .col [type=text] {
      background: #fff;
      width: 165px; }
    .menu .col [type=email] {
      background: #fff;
      width: 226.66667px; }

.text-field {
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
  -moz-box-sizing: border-box; }
  .text-field:first-child {
    margin-left: 0; }

[type=submit], .added {
  cursor: pointer;
  width: 123.33333px; }
  [type=submit].hover, .added.hover {
    background: #fff; }

.row-item-cell {
  border-bottom: 1px solid #f0f4f5;
  display: table-cell;
  float: none !important;
  width: 145px; }
  .row-item-cell:first-child {
    width: 180px; }
  .row-item-cell:last-child {
    width: 332px; }
  .row-item-cell .date {
    font-size: 16px; }
  .row-item-cell .added {
    margin: 0 0 15px;
    padding: 0px 15px;
    width: auto; }

.row-item {
  cursor: default !important;
  display: table-row; }
