$longTimeDuration:1200ms;
$normalTimeDuration:400ms;
$midleTimeDuration:250ms;
$fastTimeDuration:200ms;
$transformFunction : cubic-bezier(0.51, 0.01, 0.37, 0.98);
$postTransformDuration : 20ms;

.animate-all{
    -moz-transition: all $normalTimeDuration $transformFunction $postTransformDuration;
    -webkit-transition: all $normalTimeDuration $transformFunction $postTransformDuration;
    -o-transition: all $normalTimeDuration $transformFunction $postTransformDuration;
    -ms-transition: all $normalTimeDuration $transformFunction $postTransformDuration;
    -transition: all $normalTimeDuration $transformFunction $postTransformDuration;
    transition: all $normalTimeDuration $transformFunction $postTransformDuration;
}

.animate_status_switcher-box{
    -moz-transition: background-color $fastTimeDuration $transformFunction;
    -webkit-transition: background-color $fastTimeDuration $transformFunction;
    -o-transition: background-color $fastTimeDuration $transformFunction;
    -ms-transition: background-color $fastTimeDuration $transformFunction;
    -transition: background-color $fastTimeDuration $transformFunction;
    transition: background-color $fastTimeDuration $transformFunction;
}

.animate_status_switcher-text{
    /*-moz-transition: color 100ms $transformFunction;*/
    /*-webkit-transition: color 100ms $transformFunction;*/
    /*-o-transition: color 100ms $transformFunction;*/
    /*-ms-transition: color 100ms $transformFunction;*/
    /*-transition: color 100ms $transformFunction;*/
    /*transition: color 100ms $transformFunction;*/
}

.animate_status_switcher-control{
    -moz-transition: -moz-transform $midleTimeDuration $transformFunction;
    -webkit-transition: -webkit-transform $midleTimeDuration $transformFunction;
    -o-transition: -o-transform $midleTimeDuration $transformFunction;
    -ms-transition: -ms-transform $fastTimeDuration $transformFunction;
    -transition: -transform $midleTimeDuration $transformFunction;
    transition: transform $midleTimeDuration $transformFunction;
}

.fade{
    -moz-transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    -webkit-transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    -o-transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    -ms-transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    -transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    transition: opacity $normalTimeDuration $transformFunction $postTransformDuration;
    opacity:0;
}

.fade.in{
    opacity:1;
}

.animateOpacity{
    -moz-transition: opacity $midleTimeDuration $transformFunction;
    -webkit-transition: opacity $midleTimeDuration $transformFunction;
    -o-transition: opacity $midleTimeDuration $transformFunction;
    -ms-transition: opacity $midleTimeDuration $transformFunction;
    -transition: opacity $midleTimeDuration $transformFunction;
    transition: opacity $midleTimeDuration $transformFunction;
}

.fade.in{
    opacity:1;
}

.slide{
    -moz-transition: height $normalTimeDuration $transformFunction;
    -webkit-transition: height $normalTimeDuration $transformFunction;
    -o-transition-property: height $normalTimeDuration $transformFunction;
    -ms-transition-property: height $normalTimeDuration $transformFunction;
    -transition-property: height $normalTimeDuration $transformFunction;
    transition-property: height $normalTimeDuration $transformFunction;
}

.backgroundAnimate{
    -moz-transition: background-color $fastTimeDuration $transformFunction;
    -webkit-transition: background-color $fastTimeDuration $transformFunction;
    -o-transition-property: background-color $fastTimeDuration $transformFunction;
    -ms-transition-property: background-color $fastTimeDuration $transformFunction;
    -transition-property: background-color $fastTimeDuration $transformFunction;
    transition-property: background-color $fastTimeDuration $transformFunction;
}

.topAnimate{
    -moz-transition: top $normalTimeDuration linear;
    -webkit-transition: top $normalTimeDuration linear;
    -o-transition: top $normalTimeDuration linear;
    -ms-transition: top $normalTimeDuration linear;
    -transition: top $normalTimeDuration linear;
    transition: top $normalTimeDuration linear;
}

.menuAnimate{
    -moz-transition: -moz-transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
    -webkit-transition: -webkit-transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
    -o-transition: -o-transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
    -ms-transition: -ms-transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
    -transition: -transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
    transition: transform $fastTimeDuration ,background-color $fastTimeDuration, color 300ms $transformFunction;
}
.menuAnimate.show{
    /*opacity: 1;*/
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -transform: translate(0,0);
    transform: translate(0,0);
}
.menuAnimate.hide{
    /*opacity: 0;*/
    -webkit-transform: translate(0,-75px);
    -moz-transform: translate(0,-75px);
    -ms-transform: translate(0,-75px);
    -o-transform: translate(0,-75px);
    -transform: translate(0,-75px);
    transform: translate(0,-75px);
}


.rotation{
    -webkit-animation-name:spin;
    -webkit-animation-duration: $longTimeDuration;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:spin;
    -moz-animation-duration: $longTimeDuration;
    -moz-animation-timing-function: linear;

    -ms-animation-name:spin;
    -ms-animation-duration: $longTimeDuration;
    -ms-animation-timing-function: linear;

    -o-animation-name:spin;
    -o-animation-duration: $longTimeDuration;
    -o-animation-timing-function: linear;

    -animation-name:spin;
    -animation-duration: $longTimeDuration;
    -animation-timing-function: linear;

    animation-name:spin;
    animation-duration: $longTimeDuration;
    animation-timing-function: linear;

    /*-moz-animation:spin $longTimeDuration infinite linear;*/
    /*-webkit-animation:spin $longTimeDuration infinite linear;*/
    /*-o-animation:spin $longTimeDuration infinite linear;*/
    /*-ms-animation:spin $longTimeDuration infinite linear;*/
    /*-animation:spin $longTimeDuration infinite linear;*/
    /*animation:spin $longTimeDuration infinite linear;*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    /*-webkit-animation-fill-mode:forwards;*/
    /*-moz-animation-fill-mode:forwards ;*/
    /*-o-animation-fill-mode:forwards;*/
    /*-ms-animation-fill-mode:forwards;*/
    /*-animation-fill-mode:forwards;*/
    /*animation-fill-mode:forwards;*/
}

.rotation.stop{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    -ms-animation-play-state:paused;
    -animation-play-state:paused;
    animation-play-state:paused;
}

.slide.down{
    height: auto;
}

.slide.up{
    height: 0px;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@-o-keyframes spin {
    from {-o-transform:rotate(0deg);}
    to {-o-transform:rotate(-360deg);}
}
@-ms-keyframes spin {
    from {-ms-transform:rotate(0deg);}
    to {-ms-transform:rotate(-360deg);}
}
@-keyframes spin {
    from {-transform:rotate(0deg);}
    to {-transform:rotate(-360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}