//_generic
$defaultColor:#ffffff;
$selecton-Color:#FFFFFF;
$selecton-backGround:#0da0ed;
$font-Family:'Source Sans Pro',Helvetica,Arial,sans-serif;
$font-Size:14px;
$font-Size-normal:16px;
$font-Size-medium:18px;
$color-Error: #d27373;
$color-Success: #1bb467;
$image-icons-url:url(/img/icons.png);
$defaultPadding:20px;
$default-border-radius:4px;
$border-radius-large:20px;
$contentWidth:780px;
$content-Left-OffsetPosition : -310px;
$height40:40px;
$height30:30px;
//btn base
$btn-TextColor:#ffffff;
$btn-Height:$height30;

//btn BackGround
$btn-BackGround:#7ab8cc;
$btn-BackGround-Hover:#6cbed9;
$btn-BackGround-Focus:#4798b3;

//btn TextShadow
$btn-TextShadow:#5d6466;

//btn BoxShadow
$btn-BoxShadow:#5c8a99;
$btn-BoxShadow-Hover:#599cb3;
$btn-BoxShadow-Focus:$btn-BackGround-Focus;

$btn-Gray-BoxShadow:$btn-BoxShadow;
$btn-Gray-BoxShadow-Hover:$btn-BoxShadow-Hover;
$btn-Gray-BoxShadow-Focus:$btn-BackGround-Focus;

$btn-Grow-BoxShadow:$btn-TextShadow;
$btn-Grow-BoxShadow-Hover:$btn-BoxShadow-Hover;
$btn-Grow-BoxShadow-Focus:$btn-BoxShadow-Focus;
$btn-Grow-TextColor:$btn-TextColor;
$btn-Grow-Background:#757d80;
$btn-Grow-Background-Hover:#80878a;
$btn-Grow-Background-Focus:#646a6d;

$btn-Grow-BoxShadow:#c2bfba;
$btn-Grow-BoxShadow-Hover:$btn-BoxShadow-Hover;
$btn-Grow-BoxShadow-Focus:$btn-BoxShadow-Focus;
$btn-Grow-TextColor:#757471;
$btn-Grow-Background:#f5f2eb;
$btn-Grow-Background-Hover:$btn-Grow-BoxShadow;
$btn-Grow-Background-Focus:#d6d4ce;

$btn-Blue-BoxShadow:$btn-BoxShadow;
$btn-Blue-BoxShadow-Hover:$btn-BoxShadow-Hover;
$btn-Blue-BoxShadow-Focus:$btn-BoxShadow-Focus;
$btn-Blue-TextColor:#456773;
$btn-Blue-Background:#73ACBF;
$btn-Blue-Background-Hover:$btn-BackGround-Hover;
$btn-Blue-Background-Focus:#6395a6;

//Table list
$Table-List-green-arrow-height:14px;

$Table-List-row-height:44px;
$Table-List-colors-border:#f0f4f5;
$Table-List-colors-title-text:#98acb3;
$Table-List-colors-data-text:#7a7e80;
$Table-List-colors-data-text-hover:#73acbf;
$Table-List-colors-data-background:transparent;
$Table-List-colors-data-background-hover:#f9fbfb;

//Text-Field
$Text-Field-Colors-Text:#8d9699;
$Text-Field-Colors-Text-active:$Text-Field-Colors-Text;
$Text-Field-Colors-Placeholder:#c0c9cc;
$Text-Field-Colors-border:#d8e2e5;
$Text-Field-Colors-border-active:#73ACBF;

//status-switch-box
$colors-status-box-unpublish:#828380;


//fade geneator
@mixin line-gradient ( $endColor : rgba( 0 , 0 , 0 , 0 ) , $startColor : #000 , $endDeg : 100% , $startDeg : 0 , $a : right ) {
  background-image: linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -o-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -moz-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -webkit-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
  background-image: -ms-linear-gradient( $a , $startColor $startDeg , $endColor $endDeg );
}