/* itemsForm
=====================*/
.itemsForm{
    .item-row{
        height: auto;
        overflow: hidden;
        padding-bottom: 14px;
        padding-top: $defaultPadding;
    }
    .column1{
        float: left;
        min-height: 1px;
        width: 160px;
        margin-left: $defaultPadding;
    }
    .column2{
        min-height: 1px;
        float: left;
        width: 340px;
        margin-left: $defaultPadding;
    }
    .column3{
        min-height: 1px;
        float: left;
        width: 160px;
        margin-left: $defaultPadding;
    }

    /* form item-title
    ===================*/
    .item-title{
        font-size: 18px;
        font-weight: bold;
        span{
            display: inline-block;
            padding-top: 9px;
        }
    }
    /* form item-help
    ===================*/
    .item-help{
        font-size: 15px;
        font-weight: normal;
    }

    /* form item-value
    ===================*/
    .item-value {
        .section-title{
            padding-top: 10px;
            font-size: 32px;
            font-weight: bold;
        }
        .text-field{
            margin-left: 0;
            margin-right: 0;
            width: 318px;
        }
    }
}