//Css
*{
	margin:0;
	padding:0;
    &:link{
        color: $defaultColor;
    }
    &:focus {
        outline: none;
    }
    &::selection {
            background: $selecton-backGround; /* Safari */
            color:$selecton-Color;
            }
    &::-moz-selection {
            background: $selecton-backGround; /* Firefox */
            color:$selecton-Color;
    }
}

html{
    overflow-y: scroll;
    font-size: 100%;
    height: 100%;
}

body{
    height: 100%;
    color: $defaultColor;
    background-position: 0 0;
    background-repeat: repeat;
    min-width: 940px;
    font-family: $font-Family;
    background: #2e3132;
    font-size: $font-Size;
    line-height: 1.5555;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    cursor: default;
}

div, form, header, nav, section {
    display: block;
}

img{
	border:0px solid #ffffff;
}

*,textarea,select,input{
    font-family: $font-Family;
}

textarea{
	resize: none;
    min-height: 70px;
}

table,table tr,table td{
    border-spacing: 0px;
}

.desctop-item{
    display:block !important;
}

.tablet-item{
    display:none !important;
}

@media(max-width:767px){
    .desctop-item{
        display:none !important;
    }
    .tablet-item{
        display:block !important;
    }
}

.table{
    width: 100%;
    height: 100%;
    display: table;
}
.table > .cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-default{

}
.text-error{
    color: $color-Error;
}
.text-success{
    color: $color-Success;
}
.hidden{
    display: none !important;
}