/*firstPart ico edit
===================*/
.firstPart .ico-edit-white{
    float: left;
    width: 19px;
    height: 19px;
    overflow: hidden;
    background-image: $image-icons-url;
    background-repeat: no-repeat;
    background-position: -96px -20px;
    margin: 18px 4px 0 10px;
}

.ico-edit{
    background-position: -96px 0;
}

.icon {
  background-image: $image-icons-url;
  background-repeat: no-repeat;
  display: inline-block;
  height: 19px;
  vertical-align: middle;
  width: 19px;
}
.icon-edit-gray {
  background-position: -95px -41px;
}
.icon-edit-white {
  background-position: -95px -61px;
}
.icon-ok {
  background-position: -76px -123px;
}
.icon-close {
  background-position: -72px -2px;
  height: 11px;
  width: 11px;
}
.icon-close-biggest {
  background-position: -105px -140px;
  height: 28px;
  width: 28px;
}
.icon-close-big {
  background-position: -104px -173px;
}
.icon-refresh {
  background-position: -132px -175px;
  height: 22px;
  width: 22px;
}
.icon-plus {
  background-position: -72px -33px;
  height: 11px;
  width: 11px;
}

.icon-location {
  background-position: -35px -30px;
  height: 17px;
  width: 17px;
}

.icon-checkbox {
  background-position: -75px -150px;
  height: 22px;
  width: 22px;
}
.active .icon-checkbox , .icon-checkbox.active {
  background-position: -75px -175px;
}

.icon-eye , .icon-view {
  background-position: -70px -85px;
  height: 22px;
  width: 22px;
}
.icon-not-view {
  background-position: -95px -85px;
  height: 22px;
  width: 22px;
}

.icon-settings {
  background-position: -120px -70px;
  height: 27px;
  width: 27px;
  display: block;
  margin-top: 16px;

  &:hover {
    background-position: -120px -99px;
  }
}

.icon-help {
  background-position: -132px -214px;
  height: 27px;
  width: 27px;
  display: block;
  margin-top: 16px;

  &:hover {
    background-position: -109px -214px;
  }
}

.icon-attention {
  background-position: 0 -85px;
  height: 23px;
  width: 26px;
}

.icon-earth-plus {
  background-position: -40px -110px;
  height: 20px;
  width: 20px;
}
.active .icon-earth-plus , .icon-earth-plus.active  {
  background-position: -40px -130px;
}

.flag {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;

  &.flag-big {
    height: 26px;
    width: 26px;
  }
}
