/* langs-tabs
==============*/
.langs-tabs{
  background: #f0f4f5;
  border: 1px solid #d8e2e5;
  border-left: 0;
  border-right: 0;
  height: 42px;
  margin-top: $defaultPadding;

    .lang-tab{
      border: 1px solid #d8e2e5;
      border-bottom: 0;
      border-top: 0;
      color: #8d9699;
      cursor: pointer;
      float: left;
      font-size: 16px;
      font-weight: bold;
      line-height: 42px;
      margin-right: -1px;
      padding:0 27px;

      &.active{
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #c0c9cc;
        cursor: default;
      }
      &.last{
        border-right: 1px solid transparent;
      }
      .tab-ico{
        display: block;
        float: left;
        margin-left: -11px;
        margin-right: 11px;
        margin-top: 14px;
      }
      .tab-text{
        display: inline-block;
      }
    }
}