/* page title content
=====================*/
.pageMenu-secondPart{
    display: none;
}

.pageMenu-firstPart{
    display: none;
}

.pageMenu-firstPart-title{
    display: none;
}

/* page-title
==================*/
#pageMenu{
    width: 780px;
    left: 50%;
    margin-left: $content-Left-OffsetPosition;
    position: fixed;
    top: 60px;
    position: fixed;

    z-index: 4;

    overflow: hidden;

    .firstPart{
        width: 100%;
        height: 50px;
        background: #73acbf;
        overflow: hidden;
    }
    .secondPart{
        /*display: none;*/
        background: #ffffff;
        /*height: 1px;*/
        display: block;
        overflow: hidden;
    }
    .page-title{
        font-size: 20px;
        line-height: 50px;
        overflow: hidden;
        height: 50px;
        display: block;
        float: left;
        font-weight: bold;
        padding-left:20px;
        max-width: 500px;
        .title-wrapper{
            display:inline-block;
            height: 50px;
        }
        span.parts-separator{
            font-size: 24px;
            background:url("/img/icons.png") no-repeat -22px -114px;
            color: #778084;
            display: inline-block;
            line-height: 40px;
            margin-left: 10px;
            margin-right: 10px;
            width: 10px;
        }
        a{
            text-decoration: none;
            color: #ffffff;
            text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
            font-size: 24px;
            padding-right: 0px;
            display: inline-block;
            line-height: 40px;
            opacity: 0.6;
            &:last-child{
                text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
            }
            &:hover{
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}

@media(max-width:940px){
    #pageMenu{
        position: absolute;
        top:0;
        left: 0;
        margin-top: 60px;
        margin-left: 160px;
    }
}
