/* status-switch-box
=====================*/
.status-switch-box{
    display: block;
    width: 140px;
    height: 36px;
    line-height: 40px;
    cursor: pointer;
    border-radius: $border-radius-large;
    color: $colors-status-box-unpublish;
    text-shadow: 0 1px 0px $defaultColor;
    background: #dbd9d3;
    border: 1px solid #c9c7c1;
    .status-switcher{
        display: block;
        float: left;
        margin-top: 1px;
        margin-right: 1px;
        width: 35px;
        height: 34px;
        border-radius: $border-radius-large;
        position: relative;
        background: $defaultColor;
    }
    .status-text{
        height: 35px;
        text-transform: uppercase;
        line-height: 36px;
        margin-right: 20px;
        float:right;
    }
    &.publish,&.active{
        color: $defaultColor;
        text-shadow: 0px 1px 0px $btn-TextShadow;
        background: $btn-Blue-Background;
        border: 1px solid #699eaf;
        .status-text{
            margin-left: 16px;
            float:left;
        }
        .status-switcher{
            float:right;
        }
    }
    &.publish-disable{
        color: #ababa7;
        text-shadow: 0 1px 0px $defaultColor;
        background: #e0ded8;
        border: 1px solid #d7d5cf;
        cursor: default;
    }
}

.switch-box {
  background: #dbd9d3;
  border: 1px solid #c9c7c1;
  border-radius: $border-radius-large;
  color: $colors-status-box-unpublish;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 36px;
  position: relative;
  width: 140px;

  .switcher {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba( 0 , 0 , 0 , .5 );
    display: block;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }
  .text {
    position: absolute;
    right: 20px;
    top: 5px;
    text-align: right;
  }

  &.active {
    .switcher {
      left: auto;
      right: 0;
    }
    .text {
      left: 20px;
      right: auto;
      text-align: left;
    }
  }
  &.publish {
    background: $btn-Blue-Background;
    border: 1px solid #699eaf;
    color: $defaultColor;
    text-shadow: 0px 1px 0px $btn-TextShadow;
  }
}