/* Table list :: title
=======================*/
.row-items-list{
    // Table list :: title
    &.title{
        font-size: 16px;
        color: $Table-List-colors-title-text;
        text-align: left;
        .row-item{
            height: $Table-List-row-height;
            border-bottom: 1px solid $Table-List-colors-border;
            .row-item-cell{
                border-left: 1px solid $Table-List-colors-border;
                float: left;
                height: $Table-List-row-height;
                line-height: $Table-List-row-height;
                overflow: hidden;
                padding: 0 $defaultPadding;
                &:first-child{
                     border-left: 1px solid transparent;
                }
            }
        }
    }
    // Table list :: data
    &.data{
        font-size: $font-Size-medium;
        color: $Table-List-colors-data-text;
        text-align: left;
        .row-item{
            height: $Table-List-row-height;
            border-bottom: 1px solid $Table-List-colors-border;
            cursor: pointer;
            &:hover , &.active{
                 background: $Table-List-colors-data-background-hover;
                 .green-arrow{
                     opacity: 1;
                 }
                 .text{
                     color: $Table-List-colors-data-text-hover;
                     text-decoration: underline;
                 }
            }
            .green-arrow{
                opacity: 0;
                float: right;
                width: 9px;
                height: $Table-List-green-arrow-height;
                font-size: 30px;
                line-height: 24px;
                margin-top: ($Table-List-row-height - $Table-List-green-arrow-height)/2;
                margin-right: -10px;
                background: $image-icons-url no-repeat -8px -130px;
            }
            .row-item-cell{
                border-left: 1px solid $Table-List-colors-border;
                float: left;
                height: $Table-List-row-height;
                line-height: 43px;
                overflow: hidden;
                padding: 0 $defaultPadding;
                &:first-child{
                    border-left: 1px solid transparent;
                }
            }
        }
        a{
            display: block;
            color: $Table-List-colors-data-text;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }

    }
}