/* input text-field
====================*/
.text-field{
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
         color: $Text-Field-Colors-Placeholder;
    }
    &:-moz-placeholder {
         color: $Text-Field-Colors-Placeholder;
    }

    width: 280px;
    display: block;
    margin: 0 auto;
    padding: 8px 10px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid $Text-Field-Colors-border;
    border-radius: $default-border-radius;
    font-size: $font-Size-medium;
    color: $Text-Field-Colors-Text;
    &.active,&:active,&:focus{
        color: $Text-Field-Colors-Text-active;
        border: 1px solid $Text-Field-Colors-border-active;
    }
    &.error{
         border: 1px solid $color-Error;
    }
    &.success{
        border: 1px solid $color-Success;
    }
}
