@import "constants";
@import "generic";
@import "template";
@import "animate";
@import "PageMenu";
@import "table-list";
@import "text-field";
@import "status-switch-box";
@import "lang-tabs";
@import "popover";
@import "form-items";
@import "icons";
@import "top-menu";
@import "left-menu";
@import "icons";
@import "btns";

.placeholder {
  color: #c8d3d7;
  cursor: default;
  display: none;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}