<link rel="stylesheet" type="text/css" href="/css/pages/home.css?rndkey=<?=VERSION_RND_KEY;?>" />
<script src="/js/pages/home.js?rndkey=<?=VERSION_RND_KEY;?>" type="text/javascript"></script>
Home page